@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

button,
a {
  cursor: pointer;
}

button {
  border: none;
}

a {
  text-decoration: none;
}

button {
  background-color: rgb(255, 255, 255);
  color: #ffffff;
}

a {
  color: #ffffff;
}

body {
  background-image: url("/img/background-wall-1.gif");
  background-repeat: repeat;
}

.h-auto-3 {
  max-height: 300px !important;
}

.animate-fade-in-left {
  animation-name: fadeInLeft-1;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInLeft-1 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.but-link-1 {
  display: block;
  width: 100%;
  height: 70px;
  border: 1px solid #000;
  text-align: center;
  line-height: 70px;
  color: #000;
  position: relative;
  z-index: 2;
  overflow: hidden;
  margin: 100px 0;
}
.but-link-1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  transition: transform ease 0.3s;
  transform: translateX(-100%);
  z-index: -1;
  border-right: 60px solid transparent;
  border-bottom: 70px solid #000;
}
.but-link-1:hover {
  color: #fff;
}
.but-link-1:hover::before {
  background-color: #000;
  transform: translateX(0%);
}

.yellow-button {
  background-color: rgb(247, 199, 77);
  border-radius: 30px;
  padding: 10px 30px;
}
.yellow-button:hover {
  color: rgb(13, 0, 255);
}

.shopping-i-btn-1 {
  background-color: #fcde1d;
  border-radius: 30px;
  padding: 10px 30px;
  color: #ffffff;
  text-align: center;
}
.shopping-i-btn-1:hover {
  color: #5f95ff;
  background-color: #ffed79;
}

.icon-right {
  padding-left: 10%;
}

.header-content {
  width: 100%;
  display: flex;
  line-height: 80px;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.3607843137);
  font-size: 24px;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  height: 80px;
}
.logo img {
  width: 160px;
  height: 80px;
}

@media screen and (max-width: 768px) {
  .header-content {
    top: 85%;
  }
  .logo,
  .yellow-button,
  .reserve {
    display: none;
  }
}
.footer-container {
  color: #000000;
  background-color: rgba(0, 0, 0, 0.3607843137);
}

.footer-siteinfo {
  display: flex;
  padding: 30px 0;
  flex-wrap: wrap;
}

.siteinfo {
  width: 30%;
}
.siteinfo p {
  text-align: center;
  line-height: 25px;
}

.friend-link {
  display: flex;
  font-size: 36px;
  width: 40%;
  justify-content: center;
}
.friend-link i {
  margin: 10px;
  color: #000000;
}
.friend-link .yt:hover {
  color: #ff0000;
}
.friend-link .tw:hover,
.friend-link .fb:hover {
  color: #0088ff;
}
.friend-link .line:hover {
  color: #4cc764;
}
.friend-link .ig {
  position: relative;
  z-index: 5;
}
.friend-link .ig:hover {
  color: #ffffff;
}
.friend-link .ig:hover::after {
  content: "";
  display: block;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  border-radius: 30%;
  height: 34px;
  width: 35px;
  position: absolute;
  top: 1px;
  left: -1px;
  z-index: -3;
}

.qr-code {
  width: 30%;
}
.qr-code img {
  width: 25%;
}

@media screen and (max-width: 768px) {
  .footer-siteinfo {
    flex-wrap: wrap;
  }
  .footer-siteinfo .siteinfo,
  .footer-siteinfo .friend-link,
  .footer-siteinfo .qr-code {
    width: 100%;
    margin: 15px 0;
  }
  .footer-siteinfo .qr-code img {
    width: 180px;
    display: block;
    margin: 20px auto;
  }
}
.copyright {
  text-align: center;
}

.menu-btn {
  display: none;
}

@media screen and (max-width: 992px) {
  .menu-btn {
    display: block;
  }
}
.nav {
  display: flex;
}
.nav .item {
  padding: 0 20px;
}
.nav .item:hover {
  background-color: rgba(77, 75, 75, 0.3098039216);
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
.nav .item:hover a {
  color: rgb(247, 199, 77);
}

@media screen and (max-width: 992px) {
  .nav {
    position: absolute;
    flex-wrap: wrap;
    background-color: #ffffff;
    width: 60%;
    height: 350px;
    top: 80px;
    left: -1000px;
    z-index: 19;
    transition: left 0.5s ease;
    border-radius: 10px;
  }
  .nav .item {
    width: 100%;
    border-bottom: 2px solid rgb(183, 183, 183);
    z-index: 20;
    height: 25%;
  }
  .nav .item:last-child {
    border-bottom: none;
  }
  .nav .item:hover {
    background-color: rgb(192, 243, 249);
  }
  .nav .item a {
    color: #000;
    height: 100%;
    display: block;
    line-height: 2.5;
    font-size: 36px;
  }
  .nav-open {
    left: 0px;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    top: -350px;
  }
}
.user-box {
  display: flex;
}
.user-box .icon {
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0);
}
.user-box .icon:hover {
  color: rgb(247, 199, 77);
}

@media screen and (max-width: 768px) {
  .user-box {
    width: 100%;
    justify-content: space-around;
  }
  .user-box .icon {
    padding: 0;
  }
  .user-box .icon i {
    font-size: 40px;
  }
}
.anchor {
  position: fixed;
  top: 70%;
  right: 15px;
}

.anchor .but {
  background-color: rgba(245, 191, 43, 0.47);
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
  z-index: 20;
}

.anchor .but a {
  color: #ffffff;
}

.l-accordion {
  background-color: #ffe8cb;
  width: 70%;
  border-radius: 30px;
  margin: 30px auto;
  padding: 30px;
}
.l-accordion h3 {
  font-size: 40px;
  margin-bottom: 16px;
}
.l-accordion ul .item {
  background-color: rgb(250, 250, 247);
  border-radius: 30px;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 24px;
}
.l-accordion ul .item .question {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 5px;
}
.l-accordion ul .item .question i {
  color: rgb(0, 0, 0);
}
.l-accordion ul .item .answer {
  font-size: 20px;
  line-height: 20px;
  overflow: hidden;
  transition: max-height 0.7s ease-in-out;
  max-height: 0px;
  padding: 0 0 0 20px;
}

@media screen and (max-width: 992px) {
  .l-accordion {
    width: 90%;
  }
  .l-accordion h3 {
    font-size: 32px;
  }
  .l-accordion .question {
    font-size: 20px;
  }
  .l-accordion ul .item .answer {
    font-size: 16px;
  }
}
.down-rotate {
  transform: rotate(180deg);
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

@font-face {
  font-family: "slick";
  font-weight: normal;
  font-style: normal;
  src: url("/slick/fonts/slick.eot");
  src: url("/slick/fonts/slick.eot?#iefix") format("embedded-opentype"), url("/slick/fonts/slick.woff") format("woff"), url("/slick/fonts/slick.ttf") format("truetype"), url("/slick/fonts/slick.svg#slick") format("svg");
}
/* 箭頭樣式-共通 */
.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

.nav-shopping:hover + .shopping-box,
.shopping-box:hover {
  display: block;
}

.shopping-box {
  display: none;
  position: absolute;
  top: 80px;
  right: 120px;
  width: auto;
  height: auto;
  background-color: #dce6f5;
  padding: 15px 2px 2px 2px;
}
.shopping-box p {
  display: block;
  font-size: 16px;
  color: #000;
  height: 20px;
  line-height: 20px;
}

.shopping-item .empty-shopping {
  display: block;
  width: 300px;
  height: 100px;
  text-align: center;
  background-color: #ffffff;
  padding: 5px;
  margin: 2px;
  color: #000;
  border-radius: 10px;
}
.shopping-item .item {
  width: 300px;
  height: 100px;
  display: flex;
  padding: 5px;
  margin: 2px;
  background-color: #ffffff;
  color: #000;
  border-radius: 10px;
}
.shopping-item .item .img-control {
  width: 30%;
}
.shopping-item .item .img-control img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid rgb(173, 189, 230);
}
.shopping-item .item .txt-box {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  margin-left: 10px;
  line-height: 50px;
}
.shopping-item .item .txt-box .txt-name {
  width: 100%;
  height: 50%;
  font-size: 24px;
  font-weight: 600;
  color: #7d6363;
  overflow: hidden;
}
.shopping-item .item .txt-box .txt-qty {
  width: 100%;
  height: 50%;
  color: #ff0000;
}

.txt-note {
  position: absolute;
  font-size: 16px;
}

.remove-shopping {
  color: #000;
  font-size: 16px;
  height: 100%;
  line-height: 20px;
  border-radius: 8px;
}

.remove-shopping:hover {
  background-color: #fd8585;
}

.m_login_mask {
  width: 100vw;
  height: 100vh;
  background-color: rgba(44, 44, 44, 0.5019607843);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
}

.m_login_box {
  max-width: 600px;
  margin: 60px auto;
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 40px;
  color: #fff;
  position: relative;
}
.m_login_box .tab-box {
  display: flex;
  height: 50px;
  background-color: #84adfc;
  line-height: 50px;
}
.m_login_box .tab-box .form-tab {
  width: 50%;
  font-size: 30px;
  text-align: center;
}
.m_login_box .tab-box .form-tab:hover {
  background-color: #7295da;
}
.m_login_box .tab-current {
  background-color: #3b7af3;
}

.login-close-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -5px;
  right: -5px;
  border-radius: 50%;
  background-color: #84adfc;
  color: #000000;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

.tab-content {
  color: #000;
  font-size: 24px;
}

.form-login-card {
  height: 0px;
  opacity: 0;
  overflow: hidden;
}
.form-login-card h3 {
  font-size: 40px;
  text-align: center;
  padding: 20px 0;
  margin: 20px 0;
  background-color: #d6e2f8;
}
.form-login-card li {
  margin-bottom: 30px;
  position: relative;
}
.form-login-card li label {
  position: absolute;
  top: 8px;
  left: 10px;
  transition: all 0.5s ease;
}
.form-login-card li label span {
  font-size: 14px;
  color: #ff0000;
}
.form-login-card li .has-content {
  top: 45px;
  left: 0px;
  font-size: 14px;
}
.form-login-card li input {
  width: 100%;
  height: 40px;
  border: 1px solid #84adfc;
  outline: none;
  cursor: text;
}
.form-login-card li input:focus {
  box-shadow: 1px 1px 10px 3px rgba(132, 173, 252, 0.431372549);
}
.form-login-card .name-box {
  display: flex;
  justify-content: space-between;
}
.form-login-card .name-box .surname,
.form-login-card .name-box .name {
  position: relative;
  width: 48%;
}
.form-login-card .submit-btn {
  width: 100%;
  height: 40px;
  background-color: #84adfc;
}
.form-login-card .submit-btn:hover {
  background-color: #3b7af3;
}

.card-show {
  height: auto;
  opacity: 1;
  transition: all 1s ease;
}

.forgot {
  text-align: end;
  margin: 10px 0;
}
.forgot a {
  color: #000;
}
.forgot a:hover {
  color: #f0a54f;
}

.m_third_party {
  margin-top: 20px;
  border-top: 1px solid #000000;
  position: relative;
  display: flex;
}
.m_third_party::after {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "OR";
  font-size: 16px;
  width: 50px;
  background-color: #f8f9fa;
  text-align: center;
}

.login-fb,
.login-line {
  display: block;
  width: 100%;
  height: 40px;
  text-align: center;
  color: #fff;
  margin: 20px 5px;
  line-height: 40px;
}
.login-fb:hover,
.login-line:hover {
  color: #fff;
  box-shadow: 0px 0px 15px 0px rgba(4, 4, 4, 0.5);
  transition: transform 0.5s ease;
  transform: translateY(-5px);
}

.login-fb {
  background-color: #3b5781;
}

.login-line {
  background-color: #00b900;
}

.m-quantity-selector-box .reduce-btn,
.m-quantity-selector-box .plus-btn {
  border: 5px;
  width: 35px;
  height: 35px;
  border-radius: 40px;
  margin: 0 5px;
  background-color: rgb(231, 228, 228);
}
.m-quantity-selector-box .quantity-box {
  width: 50px;
}
.m-quantity-selector-box .shopping-btn {
  background-color: #ff6000;
  border: 1px solid #ff6000;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px;
}
.m-quantity-selector-box .shopping-btn:hover {
  color: #2600ff;
}

.feedback-content {
  max-width: 1200px;
  margin: 40px auto;
  overflow: hidden;
  background-color: #fff;
  background-image: url(/img/bk-6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.feedback-list {
  height: 280px;
  display: flex;
  border-top: 2px double rgba(0, 0, 0, 0.405);
  border-bottom: 2px double rgba(0, 0, 0, 0.405);
  border-width: 5px;
}

.m_feedback_card {
  flex-shrink: 0;
  width: 330px !important;
  height: 190px !important;
  display: flex;
  flex-wrap: wrap;
  margin: 40px 20px;
  padding: 15px;
  border: 2px double rgba(0, 0, 0, 0.405);
  border-width: 10px;
  position: relative;
  clip-path: path("M 0 200 L 0 40 L 40 0 L 340 0 L 340 160 L 300 200 L 0 200 ");
  background-color: #fff;
}
.m_feedback_card::after, .m_feedback_card::before {
  content: "";
  position: absolute;
  border-top: 5px solid rgba(0, 0, 0, 0.405);
  z-index: 10;
}
.m_feedback_card::after {
  width: 80px;
  height: 0px;
  transform: rotate(135deg);
  top: 5%;
  left: -10%;
}
.m_feedback_card::before {
  width: 50px;
  height: 0px;
  transform: rotate(315deg);
  top: 98%;
  left: 92%;
}
.m_feedback_card .details {
  width: 100%;
  height: 80%;
  display: flex;
}
.m_feedback_card .details .user-img {
  width: 40%;
}
.m_feedback_card .details .user-img img {
  max-width: 100%;
  border-radius: 50%;
}
.m_feedback_card .details .info {
  margin: 10px 0 0 10px;
  width: 60%;
}
.m_feedback_card .details .info .user-name {
  font-size: 36px;
  margin: 0 0 10px 10px;
}
.m_feedback_card .details .info .user-feedback {
  font-size: 20px;
  font-style: italic;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.m_feedback_card .star {
  margin-top: 5px;
  font-size: 24px;
  color: #ffea00;
  position: relative;
}

.top-video {
  max-width: 1200px;
  margin: 80px auto 60px auto;
}

.carousel-content {
  max-width: 1200px;
  max-height: 600px;
  margin: 0px auto;
  position: relative;
}

.scaling-container {
  max-height: 600px;
}
.scaling-container img {
  object-fit: fill;
}

.distant {
  animation-name: distant;
  animation-duration: 4s;
}
@keyframes distant {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.countdown-progress {
  width: 100%;
  height: 5px;
  background-color: #03a9f4;
  position: absolute;
  bottom: -5px;
  animation-name: countdown-progress;
  animation-duration: 7s;
}
@keyframes countdown-progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.introduce-box:nth-child(1) {
  background: linear-gradient(160deg, transparent 0%, transparent 45%, #f7f3ee 45%, #f7f3ee 100%);
}

.introduce-box:nth-child(2) {
  background: linear-gradient(200deg, transparent 0%, transparent 45%, #f7f3ee 45%, #f7f3ee 100%);
}

.introduce-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.introduce-box {
  padding: 40px 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 60px auto;
}
.introduce-box .txt-box {
  width: 40%;
  padding: 0px 60px;
  text-align: center;
  font-size: 24px;
  line-height: 36px;
}
.introduce-box .txt-box h3 {
  font-size: 36px;
  margin-bottom: 40px;
}
.introduce-box .img-box {
  width: 60%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.introduce-box .img-box > img {
  object-fit: cover;
}
.introduce-box .img-box > img:nth-child(1), .introduce-box .img-box > img:nth-child(2), .introduce-box .img-box > img:nth-child(3) {
  margin: auto;
  width: 50%;
}
.introduce-box .img-box > img:nth-child(1) {
  height: 70%;
  padding-right: 10px;
}
.introduce-box .img-box > img:nth-child(2), .introduce-box .img-box > img:nth-child(3) {
  height: 48%;
}

.introduce-box:nth-child(2) {
  flex-direction: row-reverse;
}
.introduce-box:nth-child(2) > img:nth-child(1) {
  order: 1;
  padding-right: 0px;
  padding-left: 10px;
}

@media screen and (max-width: 992px) {
  .introduce-box {
    margin: 10px auto;
  }
  .introduce-box .txt-box {
    height: 50%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 40px 60px;
  }
  .introduce-box .txt-box h3,
  .introduce-box .txt-box p,
  .introduce-box .txt-box a {
    width: 50%;
  }
  .introduce-box .txt-box h3 {
    display: block;
    height: 35%;
    margin-bottom: 0px;
  }
  .introduce-box .txt-box p {
    height: 65%;
  }
  .introduce-box .txt-box a {
    margin-left: 30px;
    margin: auto 20px;
  }
  .introduce-content .introduce-box .img-box {
    width: 100%;
    height: auto;
    flex-direction: row;
  }
  .introduce-content .introduce-box .img-box img {
    width: 33%;
    padding: 5px;
    aspect-ratio: 12/9;
  }
}
@media screen and (max-width: 768px) {
  .introduce-box {
    width: 100%;
    margin: 10px 0;
  }
  .introduce-box .txt-box {
    height: auto;
  }
  .introduce-box .txt-box h3,
  .introduce-box .txt-box p,
  .introduce-box .txt-box a {
    width: 100%;
    height: auto;
  }
  .introduce-box .img-box {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .introduce-box .txt-box {
    padding: 40px 0;
  }
  .introduce-box .txt-box p {
    font-size: 20px;
  }
  .introduce-box .txt-box a {
    margin: 0;
  }
}
.img-box-carousel {
  display: none;
  max-width: 100%;
  max-height: 400px;
}
.img-box-carousel .carousel-box .item {
  width: 100%;
  aspect-ratio: 12/7;
}
.img-box-carousel .carousel-box .item img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .img-box-carousel {
    display: block;
  }
}
.product-content {
  max-width: 1200px;
  margin: auto;
  background-color: rgba(247, 243, 238, 0.6901960784);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-blend-mode: overlay;
  transition: background-color 1s ease, background-image 1s ease;
}
.product-content ul {
  justify-content: space-between;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  z-index: 5;
  justify-content: center;
}

@media screen and (max-width: 992px) {
  .product-content ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .product-content ul {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 576px) {
  .product-content ul {
    grid-template-columns: 80%;
  }
}
.product-card {
  height: 430px;
  background-color: #ffffff;
  color: #000;
  margin: 15px auto;
  padding: 20px;
  border-radius: 10px;
  grid-gap: 20px;
}
.product-card .img {
  height: 60%;
}
.product-card .img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.product-card .txt {
  height: 40%;
}
.product-card .txt h3 {
  font-size: 24px;
  margin: 10px 15px;
  font-weight: 600;
  font-style: italic;
}
.product-card .txt p {
  font-size: 16px;
  margin: 0 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.product-card .txt .price {
  display: flex;
  justify-content: space-between;
  margin: 15px 20px 0 20px;
  line-height: 40px;
}
.product-card .txt .price span {
  font-size: 24px;
  color: #fe8383;
  font-style: italic;
}
.product-card .txt .price a {
  padding: 0;
  width: 40px;
  height: 40px;
}

.product-card .img {
  position: relative;
  overflow: hidden;
}
.product-card .img::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 0.5s ease;
  z-index: 1;
}
.product-card .img:hover::before {
  opacity: 0.5;
}
.product-card .img:hover img {
  transform: scale(1.1);
  transition: all 0.5s ease;
}
.product-card .img span {
  color: #fff;
  display: block;
  position: absolute;
  top: 0%;
  left: 10%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  line-height: 40px;
  text-align: center;
  opacity: 0;
  border-radius: 50%;
  transition: all 0.5s ease;
  z-index: 2;
}
.product-card .img span:hover {
  color: #fe8383;
  border: 2px solid #fe8383;
}
.product-card .img:hover span {
  top: 15%;
  opacity: 1;
}

.store-map {
  background-image: url("/img/background-wall-1.gif");
  background-repeat: repeat;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.index-address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 60px;
  width: 30%;
}
.index-address .a-row {
  display: flex;
  padding: 20px 0;
  border-top: 1px solid rgb(255, 205, 41);
  font-size: 20px;
  align-items: center;
}
.index-address .a-row:nth-child(5) {
  border-bottom: 1px solid rgb(255, 205, 41);
}
.index-address .a-row .data-name {
  text-align: center;
  width: 100%;
  font-size: 24px;
}
.index-address .a-row .item {
  width: 25%;
}
.index-address .a-row .data {
  width: 60%;
}

@media screen and (max-width: 992px) {
  .index-address {
    width: 70%;
    margin: auto;
  }
}
@media screen and (max-width: 576px) {
  .index-address {
    width: 95%;
  }
  .index-address .a-row .item {
    width: 40%;
  }
}
/* *{
    box-shadow: 2px 2px 2px 2px rgba(255, 0, 0, 0.1);
} */
.main {
  display: flex;
  margin-top: 80px;
  align-items: flex-start;
}

.product-sidebar {
  position: fixed;
  top: 80px;
  left: 0;
  width: 15%;
  max-height: 80vh;
  overflow-y: auto;
  background-color: #F5F5F5;
  /* 整體滾動條寬度 */
  /* 滾動條軌道 */
  /* 滾動條滑塊 */
}
.product-sidebar::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.product-sidebar::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}
.product-sidebar::-webkit-scrollbar-thumb {
  background-color: #99c4fb;
  border: 2px solid #e0e0e0;
}
.product-sidebar a {
  color: #000;
}

.cat-dropmenu {
  width: 100%;
  font-size: 36px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  background-color: #ffe8cb;
}
.cat-dropmenu .all-cat {
  padding: 20px 0 10px 0;
  width: 100%;
}
.cat-dropmenu .all-cat:hover {
  background-color: #ffd097;
}
.cat-dropmenu .main-cat,
.cat-dropmenu .sub-cat {
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  outline: none;
  border: none;
  padding: 6px;
}
.cat-dropmenu .main-cat {
  width: 100%;
  background-color: #CBE2FF;
}
.cat-dropmenu .main-cat:hover {
  color: #cbffe8;
  box-shadow: none;
  background-color: #8bbcf8;
}
.cat-dropmenu .main-cat:hover:before, .cat-dropmenu .main-cat:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
.cat-dropmenu .main-cat:before, .cat-dropmenu .main-cat:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 4px;
  width: 0;
  background: #fd8585;
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.1333333333);
  transition: 400ms ease all;
}
.cat-dropmenu .main-cat:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.cat-dropmenu .cat-box {
  width: 100%;
  padding: 5px 0;
  font-size: 30px;
  background-color: #e3efff;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.7s ease-in-out;
}
.cat-dropmenu .cat-box .sub-cat {
  font-size: 24px;
  z-index: 1;
}
.cat-dropmenu .cat-box .sub-cat:hover {
  background-color: #CBE2FF;
}
.cat-dropmenu .cat-box .sub-cat:hover a {
  color: #ffe8cb;
}
.cat-dropmenu .cat-box .sub-cat:hover:after {
  left: 0;
  width: 100%;
}
.cat-dropmenu .cat-box .sub-cat:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #b3a2ef;
  transition: all 0.3s ease;
}

.product-container {
  width: 85%;
  margin-left: 15%;
}

.display-mode-box {
  display: flex;
  justify-content: flex-start;
  margin: 15px;
  color: #ff6000;
  font-size: 24px;
}
.display-mode-box i {
  margin: 0 5px;
}
.display-mode-box .detailed:hover,
.display-mode-box .simple:hover {
  background-color: rgb(169, 205, 236);
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .product-sidebar {
    display: none;
  }
}
.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card-detailed,
.card-simple {
  display: flex;
  flex-direction: row;
  box-shadow: 5px 5px 5px 5px rgba(222, 168, 218, 0.22);
  background-color: rgb(255, 255, 255);
}
.card-detailed .img-box,
.card-simple .img-box {
  width: 40%;
}
.card-detailed .img-box img,
.card-simple .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 5px solid rgb(173, 189, 230);
}
.card-detailed .txt-box,
.card-simple .txt-box {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-detailed .txt-box h3,
.card-simple .txt-box h3 {
  font-size: 40px;
  color: #fd8585;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  line-height: 1;
  max-height: calc(1 * 1em);
}
.card-detailed .txt-box p,
.card-simple .txt-box p {
  flex-grow: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  line-height: 1.5;
  max-height: calc(3 * 1.5em);
}
.card-detailed .txt-box .data-box,
.card-simple .txt-box .data-box {
  font-size: 24px;
  background: linear-gradient(0deg, #ff0000, #ff4500, #ff7f00, #ffbf00, #ffff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-detailed .txt-box .price-box,
.card-simple .txt-box .price-box {
  display: flex;
  flex-wrap: wrap;
}
.card-detailed .txt-box .price-box .price,
.card-simple .txt-box .price-box .price {
  font-size: 30px;
  color: #fd8585;
  line-height: 45px;
}

.card-detailed {
  width: 80%;
  max-height: 300px;
  margin: 20px;
  padding: 20px;
}
.card-detailed .img-box {
  height: 250px;
}
.card-detailed .txt-box {
  padding: 0 15px;
}
.card-detailed .txt-box p {
  margin: 10px 0;
  width: 90%;
}
.card-detailed .txt-box .price-box {
  padding-top: 5px;
}

@media screen and (max-width: 1200px) {
  .card-detailed {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .product-container {
    width: 100%;
    margin-left: 0%;
  }
  .card-detailed .price-box {
    padding-top: 0;
  }
  .card-detailed .m-quantity-selector-box .reduce-btn,
  .card-detailed .m-quantity-selector-box .plus-btn {
    margin: 0;
  }
}
@media screen and (max-width: 576px) {
  .card-detailed {
    max-height: none;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0 0 0;
  }
  .card-detailed .img-box,
  .card-detailed .txt-box {
    width: 90%;
  }
  .card-detailed .txt-box {
    padding: 10px 0;
  }
  .card-detailed .txt-box h3 {
    font-size: 32px;
  }
  .card-detailed .txt-box .data-box {
    font-size: 16px;
  }
  .card-detailed .txt-box .price-box {
    justify-content: space-between;
  }
}
.card-simple {
  margin: 5px;
  padding: 5px;
  flex: 1 1 calc(50% - 20px);
}
.card-simple .img-box {
  height: 200px;
}
.card-simple .txt-box {
  padding: 15px 0 15px 5px;
}
.card-simple .price-box {
  flex-wrap: wrap;
}
.card-simple .price-box .m-quantity-selector-box {
  width: 100%;
  display: flex;
  align-items: center;
}
.card-simple .price-box .m-quantity-selector-box .quantity-box {
  height: 24px;
}
.card-simple .price-box .m-quantity-selector-box .shopping-btn {
  margin-right: 10px;
  margin-left: auto;
}

@media screen and (max-width: 1200px) {
  .card-simple .shopping-btn {
    border-radius: 50%;
  }
  .card-simple .shopping-btn i {
    font-size: 0;
  }
  .card-simple .shopping-btn i::before {
    content: "\f07a";
    font-size: 16px;
  }
}
@media screen and (max-width: 992px) {
  .card-simple {
    flex: 1 1 100%;
  }
}
@media screen and (max-width: 414px) {
  .card-simple {
    flex-wrap: wrap;
    padding-top: 15px;
  }
  .card-simple .img-box,
  .card-simple .txt-box {
    width: 90%;
    margin: auto;
  }
}
/* ***********狀態提示框****************** */
.status-box {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  right: 10px;
  bottom: 0;
  width: 20%;
  height: 80vh;
  overflow: hidden;
  flex-wrap: nowrap;
  flex-direction: column-reverse;
}

.status {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  height: 80px;
  background: #fff;
  font-weight: 500;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 43, 255, 0.3);
  display: flex;
  align-items: center;
  position: relative;
  flex-shrink: 0;
}
.status p {
  font-size: 18px;
  margin-left: 20px;
}

.status::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: green;
  animation: anim 3s linear forwards;
}

@keyframes anim {
  100% {
    width: 0;
  }
}
.status div {
  width: 100%;
  font-size: 24px;
  margin-left: 10px;
}
.status div .fa-circle-check {
  color: #49bc6c;
  margin-right: 10px;
}
.status div .fa-circle-xmark {
  color: #f25959;
  margin-right: 10px;
}

/* 關於我們 */
.video-container {
  position: absolute;
  top: 0;
  width: 100%;
}

.video-container .video-1 {
  width: 100%;
  height: 350px;
  object-fit: cover;
  margin-right: auto;
}

.top-m {
  margin-top: 270px;
}

.people-container {
  width: 1200px;
  margin: auto;
  background-color: rgb(247, 243, 238);
  display: flex;
  justify-content: center;
}

.people-container > .control-unit {
  flex: 0 0 50%;
  padding: 50px 20px;
}

.control-unit .people-txt {
  color: #000000;
  text-align: center;
  font-size: 24px;
  letter-spacing: 3px;
  line-height: 35px;
  margin: auto;
}

.control-unit .people-img {
  height: 400px;
  padding: 30px;
}

.people-txt > h3 {
  margin: 24px 0;
  font-size: 40px;
  font-style: italic;
}

/* 主廚 團隊 */
.people-img .team-img,
.people-img .chef-img {
  background-image: url("/img/platting-4282016_1280.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

.people-img .team-img {
  background-image: url("/img/people-2561634_1280.jpg");
}

/* 概念圖標 */
.idea-container {
  justify-content: center;
  font-size: 24px;
  text-align: center;
}

/* 上面待重構 */
.idea-container {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  color: #8d2828;
  margin: auto;
}

.idea-container > .control-unit {
  flex: 0 0 25%;
  padding: 50px 20px;
}

.idea-unit {
  background-color: rgba(255, 208, 178, 0.4784313725);
  padding: 20px;
  border-radius: 10px;
  height: 100%;
}

.idea-unit .idea-img {
  font-size: 40px;
  margin-bottom: 15px;
}

.idea-unit:hover {
  transform: translateY(-30px);
  transition: transform 0.3s ease;
}

@media screen and (max-width: 1200px) {
  .people-container,
  .idea-container {
    max-width: 100VW;
  }
}
@media screen and (max-width: 768px) {
  .people-container,
  .idea-container {
    flex-wrap: wrap;
  }
  .idea-container > .control-unit {
    flex: 0 0 50%;
    padding: 20px 20px;
  }
  .people-container > .control-unit {
    flex: 0 0 100%;
    padding: 50px 20px;
  }
}
.contact-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-container .contact {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: rgb(247, 243, 238);
  margin: 40px 0;
  font-size: 60px;
}

.recruiting-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}

/* 地圖 */
.recruiting {
  width: 49%;
  text-align: center;
}

.recruiting .recruiting-txt {
  font-size: 24px;
  padding: 20px 0;
  background-color: bisque;
}

.recruiting-map {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgb(247, 243, 238);
}

.recruiting-map .address {
  line-height: 40px;
}

/* 表單 */
.form-container {
  width: 50%;
}

.contact-form {
  width: 80%;
  margin: auto;
}

.contact-form input {
  width: 272px;
  margin-top: 5px;
}

#phone,
#purpose {
  margin-left: 40px;
}

#message {
  width: 312px;
  height: 200px;
}

@media screen and (max-width: 768px) {
  .form-container,
  .recruiting {
    width: 100%;
  }
}
.note {
  display: inline;
  color: #ff0000;
}

.contact-form .form-txt {
  font-weight: 800;
  font-size: 18px;
  margin: 10px 0 0 5px;
}

#form-submit-button {
  margin: 10px 0 50px 50px;
}

.operate {
  display: flex;
  width: 100%;
  margin-top: 100px;
}

.form-selection {
  width: 50%;
  display: flex;
  justify-content: center;
  position: relative;
}

.form-selection p {
  margin-right: 10px;
  font-size: 24px;
  line-height: 60px;
}

.selection {
  width: 50%;
  display: flex;
}

.selection select {
  width: 100px;
  height: 60px;
}

.selection::after {
  content: "▼";
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 10px;
  background: #a9d0ff;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}

.selection:hover::after {
  color: #ffffff;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0;
  background: #a9d0ff;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: #000000;
  cursor: pointer;
  font-size: 1.2em;
  font-family: "Open Sans", sans-serif;
}

.selection {
  position: relative;
  display: flex;
  line-height: 2;
  background: #a9d0ff;
  overflow: hidden;
  border-radius: 0.25em;
}

/* 查詢 */
.inquire {
  width: 35%;
}

.enter {
  margin-top: 5px;
  height: 50px;
}

.bnquire-but {
  width: 80px;
  height: 50px;
  color: #000000;
  background-color: #a9d0ff;
  border-radius: 20px;
  margin: 0 5px;
}

.bnquire-but:hover {
  background-color: #ffafad;
}

/* 回覆數 */
.reply-box {
  display: flex;
  line-height: 60px;
  font-size: 24px;
  width: 25%;
}

.reply {
  color: #ff0000;
}

/* 顯示 */
.list-cs {
  margin: 20px 0;
  text-align: center;
}

.list-cs .store-data-category {
  width: 80%;
  background-color: rgb(247, 199, 77);
}

.list {
  width: 80%;
  font-size: 20px;
  margin: auto;
}

.store-data {
  margin: auto;
  display: flex;
  font-size: 24px;
}

.store-data:nth-child(2n) {
  background-color: rgb(234, 234, 234);
}

.store-data p {
  margin: 20px 0px;
  text-align: center;
}

.store-data .id {
  flex-basis: 15%;
}

.store-data .name {
  flex-basis: 15%;
}

.store-data .area {
  flex-basis: 20%;
}

.store-data .location {
  flex-basis: 25%;
}

.store-data .contact {
  flex-basis: 25%;
}

/* 頁碼 */
.page-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.page-container .page-ul {
  display: flex;
}

.page-container .page-ul li {
  width: 50px;
  font-size: 24px;
  margin: 0 10px;
  padding: 10px;
  background-color: #a9d0ff;
  text-align: center;
  border: 1px solid #cfaeae;
  border-radius: 10px;
}

.show {
  background-color: #eea181 !important;
  color: #ff0000 !important;
}

.page-container i {
  padding: 2px 5px;
  color: #a9d0ff;
  font-size: 40px;
  border-radius: 10px;
  background-color: rgba(244, 202, 163, 0.2392156863);
}

.previous_page i {
  transform: rotate(270deg);
}

.next_page i {
  transform: rotate(90deg);
}

.previous_page i:hover,
.next_page i:hover {
  background-color: #ffafad;
}

.order-status {
  width: 90%;
  display: flex;
  align-items: flex-start;
  margin: 15px auto;
}

.order-details-container,
.price-details-container {
  background-color: #dbe7ff;
  margin: 10px;
}
.order-details-container .title,
.price-details-container .title {
  font-size: 40px;
  font-style: italic;
  background-color: #efdcba;
  text-align: center;
  padding: 5px;
}
.order-details-container .order-list,
.order-details-container .price-list,
.price-details-container .order-list,
.price-details-container .price-list {
  padding: 15px;
}
.order-details-container .item,
.price-details-container .item {
  display: flex;
  margin: 0px auto 10px;
  font-size: 24px;
  font-weight: 600;
}

.order-details-container {
  width: 80%;
}
.order-details-container .item {
  height: 160px;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}
.order-details-container .item .img-box {
  width: 30%;
  height: 100%;
  padding: 10px;
}
.order-details-container .item .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid rgb(173, 189, 230);
  border-radius: 10px;
}
.order-details-container .item .txt-box,
.order-details-container .item .m-quantity-selector-box {
  width: 70%;
  height: 50%;
}
.order-details-container .item .txt-box {
  display: flex;
  align-items: center;
}
.order-details-container .item .txt-box .name {
  width: 60%;
}
.order-details-container .item .txt-box .qty,
.order-details-container .item .txt-box .price {
  width: 20%;
}

.price-details-container {
  width: 30%;
}
.price-details-container .price-list {
  background-color: #ffffff;
  margin: 15px 5px;
}
.price-details-container .item .price-name,
.price-details-container .item .price {
  width: 50%;
}
.price-details-container .item .price-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.price-details-container .item .price {
  text-align: end;
}

.total-price {
  color: #ff0000;
  margin: 20px 10px;
  font-size: 30px;
  font-weight: 600;
  font-style: italic;
}

.clear-btn,
.step-btn,
.revise-btn {
  background-color: #ff6000;
  border: 1px solid #ff6000;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px;
}
.clear-btn:hover,
.step-btn:hover,
.revise-btn:hover {
  color: #2600ff;
}

.step-btn {
  font-size: 24px;
  font-weight: 600;
  margin: 0 10px 10px 15px;
}/*# sourceMappingURL=all.css.map */