@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

button,
a {
  cursor: pointer;
}

button {
  border: none;
}

a {
  text-decoration: none;
}

.main {
  max-width: 1200px;
  margin: auto;
  display: flex;
  margin-top: 80px;
  align-items: flex-start;
}

button {
  background-color: rgb(255, 255, 255);
  color: #ffffff;
}

a {
  color: #ffffff;
}

body {
  background-image: url("./Theme-website-design/img/background-wall-1.gif");
  background-repeat: repeat;
}

.table-title {
  text-align: center;
  font-size: 24px;
  background-color: #f7f3ee;
  padding: 16px;
  margin-bottom: 16px;
}

table {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 20px;
  background-color: #fff;
  overflow-x: auto;
}
table th,
table td {
  padding: 8px;
  vertical-align: middle;
}
table th {
  font-weight: 600;
  border: 1px solid #dee2e6;
}
table td {
  border-bottom: 1px solid #dee2e6;
}
table tr {
  border: 1px solid #dee2e6;
}

.empty-cart td {
  padding: 24px;
  border: 1px solid #dee2e6;
  height: 30vh;
}
.empty-cart td .empty-text {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.empty-cart td .empty-text p {
  width: 100%;
  margin-bottom: 24px;
}

.skeleton-screen {
  padding: 24px;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #eee 25%, #f5f5f5 50%, #eee 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.skeleton-screen p {
  width: 100%;
  font-size: 24px;
  text-align: center;
  margin-top: 16px;
  color: #4babdb;
}
.skeleton-screen .skeleton-loader {
  width: 50px;
  height: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #4babdb;
  animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
}
@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }
  62.5% {
    clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
  }
}
@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
.animate-fade-in-left {
  animation-name: fadeInLeft-1;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInLeft-1 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.but-link-1 {
  display: block;
  width: 100%;
  height: 70px;
  border: 1px solid #000;
  text-align: center;
  line-height: 70px;
  color: #000;
  position: relative;
  z-index: 2;
  overflow: hidden;
  margin: 100px 0;
}
.but-link-1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  transition: transform ease 0.3s;
  transform: translateX(-100%);
  z-index: -1;
  border-right: 60px solid transparent;
  border-bottom: 70px solid #000;
}
.but-link-1:hover {
  color: #fff;
}
.but-link-1:hover::before {
  background-color: #000;
  transform: translateX(0%);
}

.access-map {
  width: 70%;
  height: 40px;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #bc9d51;
  z-index: 1;
  color: #bc9d51;
}

.access-map:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #bc9d51;
  background-image: linear-gradient(315deg, #bc9d51 0%, #bc9d51 74%);
  box-shadow: -7px -7px 10px 0px rgba(255, 255, 255, 0.6), -4px -4px 5px 0px rgba(255, 255, 255, 0.6), 7px 7px 20px 0px rgba(0, 0, 0, 0.1333333333), 4px 4px 5px 0px rgba(0, 0, 0, 0.0666666667);
  transition: all 0.3s ease;
}

.access-map:hover {
  color: #fff;
}

.access-map:hover:after {
  top: 0;
  height: 100%;
}

.access-map:active {
  top: 2px;
}

.shopping-i-btn-1 {
  background-color: #ff9556;
  border: 1px solid #ff9556;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}
.shopping-i-btn-1:hover {
  background-color: #ff6000;
  border: 1px solid #ff6000;
  color: #2600ff;
}

.icon-right {
  padding-left: 10%;
}

.header-content {
  width: 100%;
  display: flex;
  line-height: 80px;
  justify-content: space-around;
  background-color: rgba(0, 18, 46, 0.7019607843);
  font-size: 24px;
  position: fixed;
  top: 0;
  z-index: 999;
}

.logo {
  height: 80px;
}
.logo img {
  width: 160px;
  height: 80px;
}

@media screen and (max-width: 768px) {
  .header-content {
    bottom: 0%;
    top: auto;
  }
  .logo,
  .yellow-button {
    display: none;
  }
}
.footer-container {
  color: #000000;
  background-color: rgba(0, 18, 46, 0.7019607843);
}

.footer-siteinfo {
  display: flex;
  padding: 30px 0;
  flex-wrap: wrap;
}

.siteinfo {
  width: 30%;
}
.siteinfo p {
  text-align: center;
  line-height: 25px;
}

.friend-link {
  display: flex;
  font-size: 36px;
  width: 40%;
  justify-content: center;
}
.friend-link i {
  margin: 10px;
  color: #000000;
}
.friend-link .yt:hover {
  color: #ff0000;
}
.friend-link .tw:hover,
.friend-link .fb:hover {
  color: #0088ff;
}
.friend-link .line:hover {
  color: #4cc764;
}
.friend-link .ig {
  position: relative;
  z-index: 5;
}
.friend-link .ig:hover {
  color: #ffffff;
}
.friend-link .ig:hover::after {
  content: "";
  display: block;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  border-radius: 30%;
  height: 34px;
  width: 35px;
  position: absolute;
  top: 1px;
  left: -1px;
  z-index: -3;
}

.qr-code {
  width: 30%;
}
.qr-code img {
  width: 25%;
}

@media screen and (max-width: 768px) {
  .footer-siteinfo {
    flex-wrap: wrap;
  }
  .footer-siteinfo .siteinfo,
  .footer-siteinfo .friend-link,
  .footer-siteinfo .qr-code {
    width: 100%;
    margin: 15px 0;
  }
  .footer-siteinfo .qr-code img {
    width: 180px;
    display: block;
    margin: 20px auto;
  }
}
.copyright {
  text-align: center;
}

.menu-btn {
  display: none;
}

@media screen and (max-width: 992px) {
  .menu-btn {
    display: block;
  }
}
.nav {
  display: flex;
}
.nav .item {
  padding: 0 20px;
}
.nav .item:hover {
  background-color: rgba(77, 75, 75, 0.3098039216);
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
.nav .item:hover a {
  color: rgb(247, 199, 77);
}

@media screen and (max-width: 992px) {
  .nav {
    position: absolute;
    flex-wrap: wrap;
    background-color: #ffffff;
    width: 60%;
    height: 350px;
    top: 80px;
    left: -1000px;
    z-index: 19;
    transition: left 0.5s ease;
    border-radius: 10px;
  }
  .nav .item {
    width: 100%;
    border-bottom: 2px solid rgb(183, 183, 183);
    z-index: 20;
    height: 25%;
  }
  .nav .item:last-child {
    border-bottom: none;
  }
  .nav .item:hover {
    background-color: rgb(192, 243, 249);
  }
  .nav .item a {
    color: #000;
    height: 100%;
    display: block;
    line-height: 2.5;
    font-size: 36px;
  }
  .nav-open {
    left: 0px;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    top: -350px;
  }
}
.user-box {
  display: flex;
}
.user-box .icon {
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0);
}
.user-box .icon:hover {
  color: rgb(247, 199, 77);
}

.login-open {
  position: relative;
}
.login-open span {
  position: absolute;
  display: none;
  top: 60px;
  left: 20px;
  font-size: 16px;
  width: 160px;
  background-color: #ffffff;
  color: #000;
  line-height: 16px;
  padding: 8px;
  text-align: left;
}
.login-open:hover span {
  display: block;
}

@media screen and (max-width: 768px) {
  .user-box {
    width: 100%;
    justify-content: space-around;
  }
  .user-box .icon {
    padding: 0;
  }
  .user-box .icon i {
    font-size: 40px;
  }
  .login-open span {
    top: 36px;
    left: 20px;
  }
}
.anchor {
  display: none;
  position: fixed;
  top: 85%;
  right: 15px;
}
.anchor .but {
  background-color: rgba(132, 140, 148, 0.5411764706);
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 20;
  color: #ffffff;
  line-height: 65px;
}

.anchor:hover .but {
  transform: scale(1.1);
}

.l-accordion {
  background-color: #f7f3ee;
  width: 70%;
  margin: 30px auto;
  padding: 30px;
  color: #696969;
}
.l-accordion h3 {
  font-size: 40px;
  margin-bottom: 16px;
}
.l-accordion ul .item {
  background-color: rgb(250, 250, 247);
  border-radius: 30px;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 24px;
}
.l-accordion ul .item .question {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 5px;
}
.l-accordion ul .item .question i {
  color: rgb(0, 0, 0);
}
.l-accordion ul .item .answer {
  font-size: 20px;
  line-height: 20px;
  overflow: hidden;
  transition: max-height 0.7s ease-in-out;
  max-height: 0px;
  padding: 0 0 0 20px;
}

@media screen and (max-width: 992px) {
  .l-accordion {
    width: 90%;
  }
  .l-accordion h3 {
    font-size: 32px;
  }
  .l-accordion .question {
    font-size: 20px;
  }
  .l-accordion ul .item .answer {
    font-size: 16px;
  }
}
.h-auto-3 {
  max-height: 300px !important;
}

.down-rotate {
  transform: rotate(180deg);
}

body {
  overflow-y: scroll;
}

.preload-container {
  width: 100vw;
  height: 100vh;
  background-color: #eaf7fc;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  animation: l1 1s linear infinite alternate;
}

.loader:before {
  content: "Loading...";
}

@keyframes l1 {
  to {
    opacity: 0;
  }
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
}

.slick-arrow.slick-hidden {
  display: none;
}

@font-face {
  font-family: "slick";
  font-weight: normal;
  font-style: normal;
  src: url("/slick/fonts/slick.eot");
  src: url("/slick/fonts/slick.eot?#iefix") format("embedded-opentype"), url("/slick/fonts/slick.woff") format("woff"), url("/slick/fonts/slick.ttf") format("truetype"), url("/slick/fonts/slick.svg#slick") format("svg");
}
/* 箭頭樣式-共通 */
.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

.nav-shopping:hover + .shopping-box,
.shopping-box:hover {
  display: block;
}

.shopping-box {
  display: none;
  position: absolute;
  top: 80px;
  right: 120px;
  width: auto;
  height: auto;
  background-color: #dce6f5;
  padding: 15px 2px 2px 2px;
}
.shopping-box p {
  display: block;
  font-size: 16px;
  color: #000;
  height: 20px;
  line-height: 20px;
}

.shopping-item .empty-shopping,
.shopping-item .item {
  width: 300px;
  height: 80px;
  background-color: #ffffff;
  padding: 5px;
  margin: 2px;
}
.shopping-item .empty-shopping {
  display: block;
  text-align: center;
  color: #000;
}
.shopping-item .item {
  display: flex;
}
.shopping-item .item .img-control {
  width: 30%;
}
.shopping-item .item .img-control img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.shopping-item .item .txt-box {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  margin-left: 10px;
  flex-direction: column;
  justify-content: center;
}
.shopping-item .item .txt-box .txt-name {
  font-size: 24px;
  font-weight: 600;
  color: #7d6363;
  overflow: hidden;
  flex-grow: 1;
  padding-top: 4px;
}
.shopping-item .item .txt-box .txt-qty {
  color: #ff0000;
}

.txt-note {
  position: absolute;
  font-size: 16px;
}

.remove-shopping {
  color: #000;
  font-size: 16px;
  height: 100%;
  line-height: 20px;
}

.remove-shopping:hover i {
  color: #fd8585;
}

.m_login_mask {
  width: 100vw;
  height: 100vh;
  background-color: rgba(44, 44, 44, 0.5019607843);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  justify-content: center;
}

.m_login_box {
  max-width: 600px;
  margin: auto;
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 40px;
  position: relative;
}
.m_login_box .tab-box {
  display: flex;
  height: 50px;
  background-color: #84adfc;
  line-height: 50px;
}
.m_login_box .tab-box .form-tab {
  width: 50%;
  font-size: 30px;
  text-align: center;
}
.m_login_box .tab-box .form-tab:hover {
  background-color: #7295da;
}
.m_login_box .tab-current {
  background-color: #3b7af3;
}

.login-close-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -5px;
  right: -5px;
  border-radius: 50%;
  background-color: #84adfc;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

.tab-content {
  color: #000;
}

.form-login-card {
  height: 0px;
  opacity: 0;
  overflow: hidden;
}
.form-login-card h3 {
  font-size: 40px;
  text-align: center;
  padding: 8px;
  margin: 20px 0;
  background-color: #d6e2f8;
}
.form-login-card li {
  margin-bottom: 30px;
  position: relative;
}
.form-login-card li .has-content {
  top: 45px;
  left: 0px;
  font-size: 14px;
}
.form-login-card li input {
  width: 100%;
  height: 40px;
  border: 1px solid #84adfc;
  outline: none;
  cursor: text;
}
.form-login-card li input:focus {
  box-shadow: 1px 1px 10px 3px rgba(132, 173, 252, 0.431372549);
}

@media screen and (max-width: 576px) {
  .m_login_box {
    margin: auto 0;
    padding: 16px;
  }
  .form-login-card h3 {
    font-size: 24px;
    margin: 8px 0;
  }
}
.form-login-card li label {
  position: absolute;
  top: 12px;
  left: 10px;
  transition: all 0.5s ease;
}
.form-login-card li label span {
  font-size: 14px;
  color: #ff0000;
}

.form-login-card .register-btn,
.form-login-card .login-btn {
  width: 100%;
  padding: 8px;
  background-color: #84adfc;
}
.form-login-card .register-btn:hover,
.form-login-card .login-btn:hover {
  background-color: #3b7af3;
}

.card-show {
  height: auto;
  opacity: 1;
  transition: all 1s ease;
}

.forgot {
  text-align: end;
  margin: 10px 0;
}
.forgot a {
  color: #000;
}
.forgot a:hover {
  color: #f0a54f;
}

.m_third_party {
  margin-top: 20px;
  border-top: 1px solid #000000;
  position: relative;
  display: flex;
}
.m_third_party::after {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "OR";
  font-size: 16px;
  width: 50px;
  background-color: #f8f9fa;
  text-align: center;
}

.login-fb,
.login-line {
  display: block;
  width: 100%;
  height: 40px;
  text-align: center;
  color: #fff;
  margin: 20px 5px;
  line-height: 40px;
}
.login-fb:hover,
.login-line:hover {
  color: #fff;
  box-shadow: 0px 0px 15px 0px rgba(4, 4, 4, 0.5);
  transition: transform 0.5s ease;
  transform: translateY(-5px);
}

.login-fb {
  background-color: #3b5781;
}

.login-line {
  background-color: #00b900;
}

.account-tips {
  font-size: 12px;
  color: #ff0000;
  margin: 16px;
}

.m-quantity-selector-box .reduce-btn,
.m-quantity-selector-box .plus-btn {
  border: 5px;
  width: 35px;
  height: 35px;
  border-radius: 40px;
  background-color: rgb(231, 228, 228);
}
.m-quantity-selector-box .quantity-box {
  width: 50px;
  margin: 6px 0;
}
.m-quantity-selector-box .shopping-btn {
  background-color: #ff9556;
  border: 1px solid #ff9556;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px;
}
.m-quantity-selector-box .shopping-btn:hover {
  background-color: #ff6000;
  border: 1px solid #ff6000;
  color: #2600ff;
}

.feedback-content {
  max-width: 1200px;
  margin: 40px auto;
  overflow: hidden;
  background-color: #fff;
  background-image: url(./img/bk-6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.feedback-list {
  height: 280px;
  display: flex;
  border-top: 2px double rgba(0, 0, 0, 0.405);
  border-bottom: 2px double rgba(0, 0, 0, 0.405);
  border-width: 5px;
}

.m_feedback_card {
  flex-shrink: 0;
  width: 330px !important;
  height: 190px !important;
  display: flex;
  flex-wrap: wrap;
  margin: 40px 20px;
  padding: 15px;
  border: 2px double rgba(0, 0, 0, 0.405);
  border-width: 10px;
  position: relative;
  clip-path: path("M 0 200 L 0 40 L 40 0 L 340 0 L 340 160 L 300 200 L 0 200 ");
  background-color: #fff;
}
.m_feedback_card::after, .m_feedback_card::before {
  content: "";
  position: absolute;
  border-top: 5px solid rgba(0, 0, 0, 0.405);
  z-index: 10;
}
.m_feedback_card::after {
  width: 80px;
  height: 0px;
  transform: rotate(135deg);
  top: 5%;
  left: -10%;
}
.m_feedback_card::before {
  width: 50px;
  height: 0px;
  transform: rotate(315deg);
  top: 98%;
  left: 92%;
}
.m_feedback_card .details {
  width: 100%;
  height: 80%;
  display: flex;
}
.m_feedback_card .details .user-img {
  width: 40%;
}
.m_feedback_card .details .user-img img {
  max-width: 100%;
  border-radius: 50%;
}
.m_feedback_card .details .info {
  margin: 10px 0 0 10px;
  width: 60%;
}
.m_feedback_card .details .info .user-name {
  font-size: 36px;
  margin: 0 0 10px 10px;
}
.m_feedback_card .details .info .user-feedback {
  font-size: 20px;
  font-style: italic;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.m_feedback_card .star {
  margin-top: 5px;
  font-size: 24px;
  color: #ffea00;
  position: relative;
}

.m-status-box {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  right: 10px;
  bottom: 0;
  overflow: hidden;
  flex-wrap: nowrap;
  flex-direction: column-reverse;
  z-index: 999;
  pointer-events: none;
}
.m-status-box .m-status {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  max-width: 200px;
  height: 80px;
  background: #fff;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 43, 255, 0.3);
  position: relative;
}
.m-status-box .m-status p {
  font-size: 18px;
  margin-left: 20px;
}
.m-status-box .m-status::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: green;
  animation: anim 3s linear forwards;
}

@media screen and (max-width: 768px) {
  .m-status-box {
    right: 10px;
    bottom: auto;
    max-height: 180px;
    top: 0;
    overflow: hidden;
  }
}
@keyframes anim {
  100% {
    width: 0;
  }
}
.m-status div {
  width: 100%;
  font-size: 24px;
  margin-left: 10px;
}
.m-status div .fa-circle-check {
  color: #49bc6c;
  margin-right: 10px;
}
.m-status div .fa-circle-xmark {
  color: #f25959;
  margin-right: 10px;
}

.top-video {
  margin: 80px auto 60px auto;
}

.carousel-content {
  max-width: 90%;
  max-height: 600px;
  margin: 0px auto;
  position: relative;
}

.scaling-container {
  max-height: 600px;
}
.scaling-container img {
  object-fit: fill;
}

.distant {
  animation-name: distant;
  animation-duration: 4s;
}
@keyframes distant {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.countdown-progress {
  width: 100%;
  height: 5px;
  background-color: #03a9f4;
  position: absolute;
  bottom: -5px;
  animation-name: countdown-progress;
  animation-duration: 7s;
}
@keyframes countdown-progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.introduce-box:nth-child(1) {
  background: linear-gradient(160deg, transparent 0%, transparent 45%, #f7f3ee 45%, #f7f3ee 100%);
}

.introduce-box:nth-child(2) {
  background: linear-gradient(200deg, transparent 0%, transparent 45%, #f7f3ee 45%, #f7f3ee 100%);
}

.introduce-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.introduce-box {
  padding: 40px 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 60px auto;
}
.introduce-box .txt-box {
  width: 40%;
  padding: 0px 60px;
  text-align: center;
  font-size: 24px;
  line-height: 36px;
}
.introduce-box .txt-box h3 {
  font-size: 36px;
  margin-bottom: 40px;
}
.introduce-box .img-box {
  width: 60%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.introduce-box .img-box > img {
  object-fit: cover;
}
.introduce-box .img-box > img:nth-child(1), .introduce-box .img-box > img:nth-child(2), .introduce-box .img-box > img:nth-child(3) {
  margin: auto;
  width: 50%;
}
.introduce-box .img-box > img:nth-child(1) {
  height: 70%;
  padding-right: 10px;
}
.introduce-box .img-box > img:nth-child(2), .introduce-box .img-box > img:nth-child(3) {
  height: 48%;
}

.introduce-box:nth-child(2) {
  flex-direction: row-reverse;
}
.introduce-box:nth-child(2) > img:nth-child(1) {
  order: 1;
  padding-right: 0px;
  padding-left: 10px;
}

@media screen and (max-width: 992px) {
  .introduce-box {
    margin: 10px auto;
  }
  .introduce-box .txt-box {
    height: 50%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 40px 60px;
  }
  .introduce-box .txt-box h3,
  .introduce-box .txt-box p,
  .introduce-box .txt-box a {
    width: 50%;
  }
  .introduce-box .txt-box h3 {
    display: block;
    height: 35%;
    margin-bottom: 0px;
  }
  .introduce-box .txt-box p {
    height: 65%;
  }
  .introduce-box .txt-box a {
    margin-left: 30px;
    margin: auto 20px;
  }
  .introduce-content .introduce-box .img-box {
    width: 100%;
    height: auto;
    flex-direction: row;
  }
  .introduce-content .introduce-box .img-box img {
    width: 33%;
    padding: 5px;
    aspect-ratio: 12/9;
  }
}
@media screen and (max-width: 768px) {
  .introduce-box {
    width: 100%;
    margin: 10px 0;
  }
  .introduce-box .txt-box {
    height: auto;
  }
  .introduce-box .txt-box h3,
  .introduce-box .txt-box p,
  .introduce-box .txt-box a {
    width: 100%;
    height: auto;
  }
  .introduce-box .img-box {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .introduce-box .txt-box {
    padding: 40px 0;
  }
  .introduce-box .txt-box p {
    font-size: 20px;
  }
  .introduce-box .txt-box a {
    margin: 0;
  }
}
.img-box-carousel {
  display: none;
  max-width: 100%;
  max-height: 400px;
}
.img-box-carousel .carousel-box .item {
  width: 100%;
  aspect-ratio: 12/7;
}
.img-box-carousel .carousel-box .item img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .img-box-carousel {
    display: block;
  }
}
.product-content {
  max-width: 1200px;
  margin: auto;
  background-color: rgba(247, 243, 238, 0.6901960784);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-blend-mode: overlay;
  transition: background-color 1s ease, background-image 1s ease;
}
.product-content ul {
  justify-content: space-between;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  z-index: 5;
  justify-content: center;
}

@media screen and (max-width: 992px) {
  .product-content ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .product-content ul {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 576px) {
  .product-content ul {
    grid-template-columns: 80%;
  }
}
.product-card {
  height: 360px;
  background-color: #ffffff;
  color: #696969;
  padding: 20px;
  grid-gap: 20px;
}
.product-card .img {
  height: 50%;
}
.product-card .img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.product-card .txt {
  height: 40%;
}
.product-card .txt h3 {
  font-size: 24px;
  margin: 10px 0px;
  font-weight: 600;
  font-style: italic;
}
.product-card .txt p {
  font-size: 16px;
  margin: 0 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.product-card .txt .price {
  display: flex;
  justify-content: space-between;
  margin: 15px 20px 0 20px;
  line-height: 40px;
}
.product-card .txt .price span {
  font-size: 24px;
  color: #fe8383;
  font-style: italic;
}
.product-card .txt .price a {
  padding: 0;
  width: 60px;
}

.product-card .img {
  position: relative;
  overflow: hidden;
}
.product-card .img::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 0.5s ease;
  z-index: 1;
}
.product-card .img:hover::before {
  opacity: 0.5;
}
.product-card .img:hover img {
  transform: scale(1.1);
  transition: all 0.5s ease;
}
.product-card .img span {
  color: #fff;
  display: block;
  position: absolute;
  top: 0%;
  left: 10%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  line-height: 40px;
  text-align: center;
  opacity: 0;
  border-radius: 50%;
  transition: all 0.5s ease;
  z-index: 2;
}
.product-card .img span:hover {
  color: #fe8383;
  border: 2px solid #fe8383;
}
.product-card .img:hover span {
  top: 15%;
  opacity: 1;
}

.store-map {
  background-image: url("./Theme-website-design/img/background-wall-1.gif");
  background-repeat: repeat;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.index-address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 60px;
  width: 30%;
}
.index-address .a-row {
  display: flex;
  padding: 20px 0;
  border-top: 1px solid rgb(255, 205, 41);
  font-size: 20px;
  align-items: center;
}
.index-address .a-row:nth-child(5) {
  border-bottom: 1px solid rgb(255, 205, 41);
}
.index-address .a-row .data-name {
  text-align: center;
  width: 100%;
  font-size: 24px;
}
.index-address .a-row .item {
  width: 25%;
}
.index-address .a-row .data {
  width: 60%;
}

@media screen and (max-width: 992px) {
  .index-address {
    width: 70%;
    margin: auto;
  }
}
@media screen and (max-width: 576px) {
  .index-address {
    width: 95%;
  }
  .index-address .a-row .item {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  .page-menu .main {
    flex-direction: column;
  }
}
.options-container,
.product-container {
  margin-top: 60px;
}

.options-container {
  width: 20%;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
}
.options-container h2 {
  color: #ff6000;
  font-size: 32px;
  position: relative;
}
.options-container h2::after {
  content: "";
  width: 70%;
  height: 2px;
  background-color: #49bc6c;
  display: block;
  margin-top: 8px;
}
.options-container .type-btn {
  font-size: 24px;
  width: 100%;
  margin: 4px auto;
  padding: 8px 0;
  border-radius: 5px;
  background-color: rgb(255, 217, 169);
  display: block;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.options-container .type-btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: -10px;
  transition: transform ease 0.3s;
  transform: translateX(-100%);
  z-index: -1;
  border-right: 60px solid transparent;
  border-bottom: 70px solid #ff9556;
}
.options-container .type-btn:hover {
  color: #fff;
}
.options-container .type-btn:hover::before {
  background-color: #ff9556;
  transform: translateX(0%);
}

@media screen and (max-width: 768px) {
  .options-container {
    width: 100%;
    margin-top: 0;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .options-container h2 {
    width: 100%;
    text-align: center;
  }
  .options-container h2::after {
    width: 100%;
  }
  .options-container .type-btn {
    flex: 0 0 auto;
    width: auto;
    padding: 8px 24px;
    margin: 4px;
  }
}
.product-container {
  width: 80%;
}

.display-mode-box {
  display: flex;
  justify-content: flex-start;
  color: #ff6000;
  font-size: 24px;
}
.display-mode-box i {
  margin: 0 5px;
}
.display-mode-box .detailed:hover,
.display-mode-box .simple:hover {
  background-color: rgb(169, 205, 236);
}

@media screen and (max-width: 768px) {
  .display-mode-box {
    margin-left: 36px;
  }
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 16px auto 60px auto;
}
.card-container::after {
  content: "";
  margin-right: auto;
}

.card-detailed,
.card-simple {
  display: flex;
  flex-direction: row;
  box-shadow: 5px 5px 5px 5px rgba(222, 168, 218, 0.22);
  background-color: rgb(255, 255, 255);
  margin: 8px;
  padding: 16px;
}
.card-detailed .img-box,
.card-simple .img-box {
  width: 40%;
}
.card-detailed .img-box img,
.card-simple .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 5px solid rgb(173, 189, 230);
}
.card-detailed .txt-box,
.card-simple .txt-box {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-detailed .txt-box h3,
.card-simple .txt-box h3 {
  font-size: 40px;
  color: #fd8585;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  font-size: 2rem;
  line-height: 2rem;
  max-height: 2rem;
}
.card-detailed .txt-box p,
.card-simple .txt-box p {
  flex-grow: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  font-size: 1rem;
  line-height: 1rem;
  max-height: 3rem;
}
.card-detailed .txt-box .data-box,
.card-simple .txt-box .data-box {
  font-size: 24px;
  background: linear-gradient(0deg, #ff0000, #ff4500, #ff7f00, #ffbf00, #ffff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-detailed .txt-box .price-box,
.card-simple .txt-box .price-box {
  display: flex;
  flex-wrap: wrap;
}
.card-detailed .txt-box .price,
.card-simple .txt-box .price {
  font-size: 30px;
  color: #fd8585;
  line-height: 45px;
}

.card-detailed {
  width: 90%;
  max-height: 300px;
}
.card-detailed .img-box {
  height: 250px;
}
.card-detailed .txt-box {
  padding: 0 15px;
}
.card-detailed .txt-box p {
  margin: 10px 0;
  width: 90%;
}
.card-detailed .txt-box .price-box {
  padding-top: 5px;
}

@media screen and (max-width: 768px) {
  .product-container {
    width: 100%;
    margin-left: 0%;
  }
  .card-detailed {
    width: 100%;
  }
  .card-detailed .price-box {
    padding-top: 0;
  }
  .card-detailed .m-quantity-selector-box .reduce-btn,
  .card-detailed .m-quantity-selector-box .plus-btn {
    margin: 0;
  }
}
@media screen and (max-width: 576px) {
  .card-detailed {
    max-height: none;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 15px;
  }
  .card-detailed .img-box,
  .card-detailed .txt-box {
    width: 90%;
  }
  .card-detailed .txt-box {
    padding: 10px 0;
  }
  .card-detailed .txt-box h3 {
    font-size: 32px;
  }
  .card-detailed .txt-box .data-box {
    font-size: 16px;
  }
  .card-detailed .txt-box .price-box {
    justify-content: space-between;
  }
}
@media screen and (max-width: 414px) {
  .card-detailed .img-box {
    height: 200px;
  }
}
.card-simple {
  flex: 1 1 calc(33.33% - 16px);
  max-width: calc(33.33% - 16px);
  flex-direction: column;
}
.card-simple .img-box {
  width: auto;
  height: 200px;
}
.card-simple .txt-box {
  width: auto;
  padding: 15px 0 15px 5px;
}
.card-simple .txt-box h3 {
  font-size: 24px;
  text-align: center;
}
.card-simple .txt-box p {
  display: none;
}
.card-simple .price-box {
  flex-wrap: wrap;
  justify-content: center;
}
.card-simple .price-box .price {
  font-size: 24px;
  margin: 16px auto;
}
.card-simple .price-box .m-quantity-selector-box {
  width: 100%;
  display: flex;
  align-items: center;
}
.card-simple .price-box .m-quantity-selector-box .quantity-box {
  height: 24px;
}
.card-simple .price-box .m-quantity-selector-box .shopping-btn {
  margin-left: auto;
}

@media screen and (max-width: 1200px) {
  .card-simple .shopping-btn {
    border-radius: 50%;
  }
  .card-simple .shopping-btn i {
    font-size: 0;
  }
  .card-simple .shopping-btn i::before {
    content: "\f07a";
    font-size: 16px;
  }
}
@media screen and (max-width: 992px) {
  .card-simple {
    flex: 1 1 calc(50% - 16px);
    max-width: calc(50% - 16px);
  }
}
@media screen and (max-width: 576px) {
  .card-container {
    padding: 40px;
  }
  .card-simple {
    flex: 1 1 calc(100% - 16px);
    max-width: calc(100% - 16px);
  }
}
@media screen and (max-width: 414px) {
  .card-simple {
    flex-wrap: wrap;
    padding-top: 15px;
  }
  .card-simple .img-box,
  .card-simple .txt-box {
    width: 90%;
    margin: auto;
  }
}
.page-aboutus footer {
  display: none;
}

.scroll-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 80px);
  overflow: hidden;
  margin-top: 80px;
}

@media screen and (max-width: 768px) {
  .page-aboutus footer {
    display: block;
  }
  .scroll-block {
    margin: 0px;
    height: auto;
    position: relative;
    overflow: auto;
  }
}
.banner-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.banner-box {
  position: relative;
  width: 100%;
  height: 100%;
}
.banner-box .banner-img {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
}
.banner-box .banner-1 {
  background-image: url("/img/banner-bk-1.jpg");
  z-index: 5;
}
.banner-box .banner-2 {
  background-image: url("/img/banner-bk-2.jpg");
  z-index: 4;
}
.banner-box .banner-3 {
  background-image: url("/img/banner-bk-3.jpg");
  z-index: 3;
}

.banner-img .txt-box {
  width: 60%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.banner-img .txt-box .title-first,
.banner-img .txt-box .title-second {
  color: rgba(255, 255, 255, 0.7803921569);
  font-size: 140px;
  position: absolute;
  font-weight: 600;
  text-shadow: -10px 0px 5px rgba(105, 119, 126, 0.5882352941);
}
.banner-img .txt-box .title-first {
  top: 20%;
  left: 30%;
}
.banner-img .txt-box .title-second {
  top: 40%;
  left: 40%;
}

.banner-btn-box {
  position: absolute;
  width: 60%;
  bottom: 0%;
  right: 0%;
  z-index: 10;
  display: flex;
  align-items: flex-end;
}
.banner-btn-box .banner-btn {
  cursor: pointer;
  background-color: rgba(208, 206, 204, 0.32);
  border: 0;
  padding: 1.5rem 2rem;
  transition: 0.25s ease-in-out;
  outline: 0;
  font-size: 18px;
  flex-grow: 1;
}
.banner-btn-box .banner-btn:hover {
  background-color: #fff;
  color: #000;
}
.banner-btn-box .active {
  cursor: default;
  font-weight: 700;
  background-color: #3b3e45;
  padding: 2rem 2rem;
}

@media screen and (max-width: 768px) {
  .banner-container {
    height: 100vh;
    margin-top: 0;
  }
  .banner-img .txt-box .title-first,
  .banner-img .txt-box .title-second {
    font-size: 60px;
  }
  .banner-btn-box {
    bottom: 35%;
    flex-wrap: wrap;
    width: 30%;
  }
  .banner-btn-box .banner-btn {
    width: 100%;
    padding: 1rem 1rem;
  }
}
.year-block,
.concept-block {
  display: flex;
  align-items: center;
}

.year-block {
  z-index: 2;
}
.year-block::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../img/store/store-02.jpg");
  background-size: 100% 100%;
  filter: grayscale(40%);
}

.year-block .year {
  width: 5%;
  height: 80%;
  background-color: rgba(0, 18, 46, 0.7019607843);
  margin: 4px;
  padding: 8px 36px;
  border-radius: 30px;
  transition: 1.5s ease;
  position: relative;
  overflow: hidden;
}
.year-block .year:hover {
  width: 40%;
}
.year-block .year:hover .content {
  display: block;
}
.year-block .year span {
  position: absolute;
  top: 30px;
  left: 25px;
  color: #ffffff;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 24px;
  display: flex;
  align-items: center;
}
.year-block .year span p {
  writing-mode: horizontal-tb;
}
.year-block .year span h3 {
  margin-top: 24px;
  font-style: italic;
}

.year-block .content {
  position: relative;
  display: none;
  font-size: 24px;
  margin: 60px 0 0 80px;
  padding: 0 20px 20px 0;
  color: #ffffff;
}
.year-block .content h3 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: 600;
}
.year-block .content img {
  top: 130%;
  left: 40%;
  position: absolute;
  width: 260px;
  height: 180px;
  transform: rotate(12deg);
  filter: grayscale(40%);
}
.year-block .content img:hover {
  transform: rotate(0deg);
}

@media screen and (max-width: 992px) {
  .year span p,
  .year span h3 {
    font-size: 20px;
  }
  .year .content {
    margin: 30px 0 0 30px;
    font-size: 16px;
  }
  .year .content h3 {
    font-size: 20px;
  }
  .year .content img {
    width: 160px;
    height: 120px;
    top: 100%;
    left: 0%;
  }
}
@media screen and (max-width: 768px) {
  .year-block {
    flex-direction: column;
    padding: 16px 0;
  }
  .year-block .year {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 60px;
  }
  .year-block .year:hover {
    width: 80%;
    max-height: 360px;
    height: 360px;
  }
  .year-block .year span {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    flex-direction: column-reverse;
  }
  .year-block .year span h3 {
    display: none;
  }
  .year-block .year .content {
    margin: 8px 0 0 8px;
  }
  .year-block .year .content img {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 16px;
  }
}
.concept-block::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../img/store/bk.jpg");
  background-size: 100% 100%;
  filter: grayscale(40%);
}

.concept-container {
  max-width: 1200px;
  margin: auto;
}
.concept-container h2 {
  width: 100%;
  font-size: 60px;
  color: #fff;
  text-align: center;
  margin-bottom: 24px;
}

.concept-container .item-box {
  display: flex;
  position: relative;
  transition: all 0.55s ease;
  perspective: 1000px;
  transform-origin: center;
  flex-wrap: wrap;
}
.concept-container .item-box .item {
  position: relative;
  overflow: hidden;
  padding: 10px;
  width: 25%;
  font-size: 16px;
}
.concept-container .item-box .item img {
  width: 100%;
  opacity: 0.8;
}
.concept-container .item-box .item .description {
  position: absolute;
  bottom: 5%;
  right: 5%;
  padding: 10px;
}
.concept-container .item-box .item .description h3 {
  font-size: 36px;
  font-weight: 400;
  color: #ffffff;
}
.concept-container .item-box .item .description p {
  position: absolute;
  display: block;
  width: 200px;
  font-size: 16px;
  font-weight: 700;
  padding: 5px 10px;
  color: #ffffff;
  bottom: 0;
  right: 0;
  transform: translate(0%, 0%);
  opacity: 0;
  transition: all 0.55s ease;
}

@media screen and (max-width: 850px) {
  .concept-container h2 {
    display: none;
  }
  .concept-container .item-box {
    justify-content: space-evenly;
  }
  .concept-container .item-box .item {
    width: 35%;
  }
}
@media screen and (max-width: 768px) {
  .concept-container .item-box .item {
    width: 60%;
  }
}
.concept-container .description::after, .concept-container .description::before,
.concept-container .description h3::after,
.concept-container .description h3::before {
  position: absolute;
  content: "";
  background-color: #ffffff;
  transition: all 0.55s ease;
}
.concept-container .description::after, .concept-container .description::before {
  height: 2px;
  width: 400px;
}
.concept-container .description:before {
  top: 0;
  left: 0;
  transform: translateX(100%);
}
.concept-container .description::after {
  bottom: 0;
  right: 0;
  transform: translateX(-100%);
}
.concept-container .description h3::before,
.concept-container .description h3::after {
  width: 2px;
  height: 400px;
}
.concept-container .description h3::before {
  top: 0;
  left: 0;
  transform: translateY(100%);
}
.concept-container .description h3::after {
  bottom: 0;
  right: 0;
  transform: translateY(-100%);
}

.concept-container .item-box .item:hover img {
  opacity: 0.4;
}
.concept-container .item-box .item:hover .description::before,
.concept-container .item-box .item:hover .description::after,
.concept-container .item-box .item:hover .description h3::before,
.concept-container .item-box .item:hover .description h3::after {
  transform: translate(0, 0);
}
.concept-container .item-box .item:hover h3 {
  color: #000;
}
.concept-container .item-box .item:hover p {
  opacity: 1;
  transform: translate(-20%, -160%);
}

@media screen and (max-width: 992px) {
  .concept-container .item-box .item:hover p {
    transform: translate(-5%, -100%);
  }
}
.page-store .main {
  flex-direction: column;
}

.slogan {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.slogan img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.slogan .text-box {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center;
}
.slogan .text-box .title-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.slogan .text-box h2 {
  font-size: 60px;
  margin: 24px 0 48px;
}
.slogan .text-box h3 {
  font-size: 40px;
}
.slogan .text-box p {
  font-size: 20px;
  margin-bottom: 8px;
}

@media screen and (max-width: 576px) {
  .slogan .text-box {
    width: 80%;
  }
  .slogan .text-box h2 {
    font-family: 24px;
  }
  .slogan .text-box h3 {
    font-family: 28px;
  }
  .slogan .text-box p {
    font-size: 16px;
  }
}
.store-container {
  width: 100%;
}
.store-container .item {
  width: 100%;
  height: 500px;
  position: relative;
}
.store-container .item img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  opacity: 0.8;
}

.store-container .item:nth-child(2) .info-box,
.store-container .item:nth-child(4) .info-box {
  left: 50%;
}

.info-box {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 20px 40px 0 40px;
  color: #dbdbdb;
}
.info-box h3 {
  font-size: 40px;
  text-align: center;
  color: #bc9d51;
  font-weight: 300;
  margin-bottom: 20px;
}
.info-box p {
  font-size: 16px;
  color: #a0a0a0;
}

@media screen and (max-width: 768px) {
  .store-container .item {
    margin-bottom: 16px;
  }
  .info-box {
    width: 80%;
    top: 0;
    left: 50% !important;
    transform: translateX(-50%);
  }
}
.info-list {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
  padding: 20px 0 0 60px;
  font-size: 20px;
}
.info-list dt,
.info-list dd {
  padding: 8px;
}
.info-list dt {
  color: #a0a0a0;
  margin-bottom: 16px;
  position: relative;
}
.info-list dt::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #bc9d51;
  position: absolute;
  bottom: 0;
  left: 0;
}
.info-list dd {
  text-align: start;
}

@media screen and (max-width: 576px) {
  .info-box {
    padding: 20px 10px 0 10px;
  }
  .info-box .info-list {
    padding: 20px 0 0 0;
  }
}
.serve-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 60px auto 80px auto;
}

.serve-container h2 {
  width: 100%;
  font-size: 40px;
  padding: 16px 0;
  text-align: center;
  background-color: #f7f3ee;
  color: #bc9d51;
}

.serve-container .item {
  width: 20%;
  height: 200px;
  position: relative;
  margin: 16px;
  overflow: hidden;
}
.serve-container .item img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .serve-container .item {
    width: 40%;
  }
}
@media screen and (max-width: 500px) {
  .serve-container .item {
    width: 80%;
  }
}
.serve-container .text-box {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2392156863);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.serve-container span {
  font-size: 40px;
  font-weight: 500;
  color: #bc9d51;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease;
}

.serve-container .item:hover .text-box {
  background-color: rgba(0, 0, 0, 0.5176470588);
}
.serve-container .item:hover span {
  top: 20%;
  left: 20%;
}

@media screen and (max-width: 768px) {
  .page-cart .main {
    margin-top: 0;
  }
}
.cart-container {
  width: 100%;
  padding-top: 24px;
  min-height: calc(100vh - 280px);
  overflow-x: auto;
}

.cart-container table img {
  width: 100px;
  height: 100px;
}
.cart-container table .name {
  width: 40%;
}
.cart-container table .subtotal {
  color: #fe0000;
}

@media screen and (max-width: 768px) {
  .cart-container table .name {
    width: auto;
  }
  .cart-container table,
  .cart-container thead,
  .cart-container tbody,
  .cart-container tr,
  .cart-container th,
  .cart-container td {
    display: block;
  }
  .cart-container thead {
    display: none;
  }
  .cart-container tr {
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  .cart-container td {
    display: flex;
    justify-content: space-between !important;
    padding: 10px;
    height: 100%;
  }
  .cart-container td::before {
    content: attr(data-label);
    font-weight: bold;
    color: #333;
  }
  .total_amount-box {
    padding: 10px;
  }
}
.cart-container table .order {
  height: 100%;
  border-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-container table .order .m-quantity-selector-box {
  display: flex;
  border: 1px solid #dee2e6;
  height: 36px;
}
.cart-container table .order .m-quantity-selector-box .reduce-btn,
.cart-container table .order .m-quantity-selector-box .plus-btn,
.cart-container table .order .m-quantity-selector-box .quantity-box {
  border-radius: 0px;
  margin: 0px;
  border: 0px;
  text-align: center;
}

.cart-container table .delete {
  display: flex;
  justify-content: center;
  border: 0px;
}
.cart-container table .delete .delete-btn {
  display: flex;
  color: rgba(0, 18, 46, 0.7019607843);
  flex-direction: column;
  font-size: 12px;
}
.cart-container table .delete .delete-btn i {
  font-size: 24px;
  margin-bottom: 4px;
}

.total_amount-box {
  display: flex;
  width: 100%;
  justify-content: end;
  margin: 60px 0;
  font-size: 24px;
  align-items: center;
}

.order-btn,
.go-menu {
  font-size: 24px;
  padding: 8px;
  border-radius: 5px;
  background-color: rgb(255, 217, 169);
  display: block;
  margin-left: 20px;
}

.go-menu {
  width: 200px;
  margin: 0;
  flex-grow: 0;
}

.order-btn:hover {
  background-color: #ff9556;
}

@media screen and (max-width: 992px) {
  .page-space .main .options-container {
    width: 30%;
  }
}
@media screen and (max-width: 768px) {
  .page-space .main {
    flex-direction: column;
  }
  .page-space .main .options-container {
    width: 100%;
  }
}
.page-space .data-container {
  width: 100%;
  padding: 24px 0 60px 0;
  min-height: calc(100vh - 280px);
}
.page-space .data-container .cart-container {
  display: none;
}

.order-container {
  font-size: 16px;
}
.order-container table td {
  font-weight: 400;
}

.order-tbody .details-row,
.order-tbody .details-row td {
  padding: 0;
}
.order-tbody .details-row .detailed-tbody tr td,
.order-tbody .details-row td .detailed-tbody tr td {
  padding: 8px;
}

.detailed-box {
  width: 100%;
  background-color: rgb(235, 245, 255);
  padding: 16px 16px 40px 16px;
}
.detailed-box .schedule {
  display: flex;
  background-color: #fff;
  padding: 8px;
  justify-content: space-around;
  font-size: 16px;
  color: #409eff;
  margin-bottom: 8px;
}
.detailed-box .schedule .item {
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detailed-box .schedule .item span {
  margin: 4px 0;
}

@media screen and (max-width: 768px) {
  .detailed-box .schedule {
    font-size: 12px;
  }
  .detailed-box .schedule .item {
    height: auto;
  }
}
.step {
  width: 32px;
  height: 32px;
  padding: 6px;
  border: 2px solid #409eff;
  border-radius: 50%;
}

.state-gray {
  color: rgb(200, 201, 204);
}
.state-gray .step {
  border: 2px solid rgb(200, 201, 204);
}

.state-green {
  color: #67c23a;
}
.state-green .step {
  border: 2px solid #67c23a;
}

.logout-btn {
  margin-top: auto !important;
}/*# sourceMappingURL=all.css.map */