@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

@font-face {
  font-family: "slick";
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
}
/* 箭頭樣式-共通 */
.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

* {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background-color: rgb(255, 255, 255);
  border: none;
  color: #ffffff;
}

.header-but {
  background-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
  color: #ffffff;
}

body {
  background-image: url("/img/background-wall-1.gif");
  background-repeat: repeat;
}

.header-content {
  width: 100%;
  display: flex;
  line-height: 80px;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.3607843137);
  font-size: 24px;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  height: 80px;
}
.logo img {
  width: 160px;
  height: 80px;
}

.nav {
  display: flex;
}
.nav .item {
  padding: 0 20px;
}
.nav .item:hover {
  background-color: rgba(77, 75, 75, 0.3098039216);
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
.nav .item:hover a {
  color: rgb(247, 199, 77);
}

.user {
  display: flex;
}
.user .icon {
  padding: 0 20px;
}
.user .icon:hover {
  color: rgb(247, 199, 77);
}

.menu-btn {
  display: none;
}

@media screen and (max-width: 992px) {
  .nav {
    position: absolute;
    flex-wrap: wrap;
    background-color: #ffffff;
    width: 60%;
    height: 350px;
    top: 80px;
    left: -1000px;
    z-index: 19;
    transition: left 0.5s ease;
    border-radius: 10px;
  }
  .nav .item {
    width: 100%;
    border-bottom: 2px solid rgb(183, 183, 183);
    z-index: 20;
    height: 25%;
  }
  .nav .item:last-child {
    border-bottom: none;
  }
  .nav .item:hover {
    background-color: rgb(192, 243, 249);
  }
  .nav .item a {
    color: #000;
    height: 100%;
    display: block;
    line-height: 2.5;
    font-size: 36px;
  }
  .nav-open {
    left: 0px;
  }
  .menu-btn {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .header-content {
    top: 85%;
  }
  .nav {
    top: -350px;
  }
  .user {
    width: 100%;
    justify-content: space-around;
  }
  .user .icon {
    padding: 0;
  }
  .logo,
  .yellow-button,
  .reserve {
    display: none;
  }
  .header-but > i {
    font-size: 40px;
  }
}
/* 購物車 */
.nav-shopping:hover + .shopping-box,
.shopping-box:hover {
  display: block;
}

.shopping-box {
  position: absolute;
  top: 100px;
  right: 120px;
  width: auto;
  height: auto;
  background-color: #dce6f5;
  padding: 20px 2px 2px 2px;
}
.shopping-box p {
  display: block;
  font-size: 16px;
  color: #000;
  height: 20px;
  line-height: 20px;
}

.shopping-item > .empty-shopping {
  display: block;
  width: 300px;
  height: 100px;
  text-align: center;
  background-color: #ffffff;
  padding: 5px;
  margin: 2px;
  color: #000;
  border-radius: 10px;
}

.shopping-item > .item {
  width: 300px;
  height: 100px;
  display: flex;
  padding: 5px;
  margin: 2px;
  background-color: #ffffff;
  color: #000;
  border-radius: 10px;
}

.shopping-item > .item > .img-control {
  width: 30%;
}

.shopping-item > .item > .img-control img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid rgb(173, 189, 230);
}

.shopping-item > .item > .txt-box {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  margin-left: 10px;
  line-height: 50px;
}

.shopping-item > .item > .txt-box > .txt-name {
  width: 100%;
  height: 50%;
  font-size: 24px;
  font-weight: 600;
  color: #7d6363;
  overflow: hidden;
}

.shopping-item > .item > .txt-box > .txt-qty {
  width: 100%;
  height: 50%;
  color: #ff0000;
}

.txt-note {
  position: absolute;
  font-size: 16px;
}

.remove-shopping {
  color: #000;
  font-size: 16px;
  height: 100%;
  line-height: 20px;
  border-radius: 8px;
}

.remove-shopping:hover {
  background-color: #fd8585;
}

.footer {
  color: #000000;
  background-color: rgba(0, 0, 0, 0.3607843137);
}

.footer-siteinfo {
  display: flex;
  padding: 30px 0;
  flex-wrap: wrap;
}
.footer-siteinfo .siteinfo {
  width: 30%;
}
.footer-siteinfo .siteinfo p {
  text-align: center;
  line-height: 25px;
}
.footer-siteinfo .friendlink {
  display: flex;
  font-size: 36px;
  width: 40%;
  justify-content: center;
}
.footer-siteinfo .friendlink i {
  margin: 10px;
  color: #000000;
}
.footer-siteinfo .friendlink .yt:hover {
  color: #ff0000;
}
.footer-siteinfo .friendlink .tw:hover,
.footer-siteinfo .friendlink .fb:hover {
  color: #0088ff;
}
.footer-siteinfo .friendlink .line:hover {
  color: #4cc764;
}
.footer-siteinfo .friendlink .ig {
  position: relative;
  z-index: 5;
}
.footer-siteinfo .friendlink .ig:hover {
  color: #ffffff;
}
.footer-siteinfo .friendlink .ig:hover::after {
  content: "";
  display: block;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  border-radius: 30%;
  height: 34px;
  width: 35px;
  position: absolute;
  top: 1px;
  left: -1px;
  z-index: -3;
}
.footer-siteinfo .qr {
  width: 30%;
}

.copyright {
  text-align: center;
}

/* 側邊錨點 */
.anchor {
  position: fixed;
  top: 70%;
  right: 15px;
}

.anchor .but {
  background-color: rgba(245, 191, 43, 0.47);
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
  z-index: 20;
}

.anchor .but a {
  color: #ffffff;
}

.animate-fade-in-left {
  animation-name: fadeInLeft-1;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInLeft-1 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
/* 共通組件 */
/* 圖標 */
.icon-right {
  padding-left: 10%;
}

.product-card:nth-child(1) .product-img::before,
.product-card:nth-child(3) .product-img::before,
.product-card:nth-child(5) .product-img::before,
.product-card:nth-child(6) .product-img::before {
  content: "";
  position: absolute;
  background-image: url("/img/icon-2.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 80px;
  top: 0px;
  left: -20px;
  transform: rotate(-23deg);
  z-index: 10;
}

.product-card:nth-child(3) .product-img::after,
.product-card:nth-child(4) .product-img::after,
.product-card:nth-child(6) .product-img::after,
.product-card:nth-child(7) .product-img::after {
  content: "午晚提供";
  position: absolute;
  writing-mode: vertical-lr;
  width: 40px;
  height: 100px;
  color: rgba(255, 0, 0, 0.4588235294);
  background-color: rgba(249, 213, 166, 0.3490196078);
  top: 110px;
  right: 25px;
  border-radius: 10px;
  text-align: center;
  font-weight: 800;
  z-index: 10;
  line-height: 36px;
}

/* 按鈕-1  選中後有動畫黑底*/
.but-link-1 {
  display: block;
  width: 100%;
  height: 70px;
  border: 1px solid #000;
  text-align: center;
  line-height: 70px;
  color: #000;
  position: relative;
  z-index: 2;
  overflow: hidden;
  margin: 100px 0;
}

.but-link-1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  transition: transform ease 0.3s;
  transform: translateX(-100%);
  z-index: -1;
  border-right: 60px solid transparent;
  border-bottom: 70px solid #000;
}

.but-link-1:hover {
  color: #fff;
}

.but-link-1:hover::before {
  background-color: #000;
  transform: translateX(0%);
}

/* 黃色按鈕 */
.yellow-button {
  background-color: rgb(247, 199, 77);
  border-radius: 30px;
  /* height: 36px; */
  padding: 10px 30px;
}

.yellow-button:hover {
  color: rgb(13, 0, 255);
}

.shopping-i-btn-1 {
  background-color: #fcde1d;
  border-radius: 30px;
  padding: 10px 30px;
  color: #ffffff;
  text-align: center;
}
.shopping-i-btn-1:hover {
  color: #5f95ff;
  background-color: #ffed79;
}

.m_login_mask {
  width: 100vw;
  height: 100vh;
  background-color: rgba(44, 44, 44, 0.5019607843);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
}

.m_login_box {
  max-width: 600px;
  margin: 60px auto;
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 40px;
  color: #fff;
  position: relative;
}
.m_login_box .tab-box {
  display: flex;
  height: 50px;
  background-color: #84adfc;
  line-height: 50px;
}
.m_login_box .tab-box .form-tab {
  width: 50%;
  font-size: 30px;
  text-align: center;
}
.m_login_box .tab-box .form-tab:hover {
  background-color: #7295da;
}
.m_login_box .tab-current {
  background-color: #3b7af3;
}

.login-close-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -5px;
  right: -5px;
  border-radius: 50%;
  background-color: #84adfc;
  color: #000000;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

.tab-content {
  color: #000;
  font-size: 24px;
}

.form-login-card {
  height: 0px;
  opacity: 0;
  overflow: hidden;
}
.form-login-card h3 {
  font-size: 40px;
  text-align: center;
  padding: 20px 0;
  margin: 20px 0;
  background-color: #d6e2f8;
}
.form-login-card li {
  margin-bottom: 30px;
  position: relative;
}
.form-login-card li label {
  position: absolute;
  top: 8px;
  left: 10px;
  transition: all 0.5s ease;
}
.form-login-card li label span {
  font-size: 14px;
  color: #ff0000;
}
.form-login-card li .has-content {
  top: 45px;
  left: 0px;
  font-size: 14px;
}
.form-login-card li input {
  width: 100%;
  height: 40px;
  border: 1px solid #84adfc;
  outline: none;
  cursor: text;
}
.form-login-card li input:focus {
  box-shadow: 1px 1px 10px 3px rgba(132, 173, 252, 0.431372549);
}
.form-login-card .name-box {
  display: flex;
  justify-content: space-between;
}
.form-login-card .name-box .surname,
.form-login-card .name-box .name {
  position: relative;
  width: 48%;
}
.form-login-card .submit-btn {
  width: 100%;
  height: 40px;
  background-color: #84adfc;
}
.form-login-card .submit-btn:hover {
  background-color: #3b7af3;
}

.card-show {
  height: auto;
  opacity: 1;
  transition: all 1s ease;
}

.forgot {
  text-align: end;
  margin: 10px 0;
}
.forgot a {
  color: #000;
}
.forgot a:hover {
  color: #f0a54f;
}

.m_third_party {
  margin-top: 20px;
  border-top: 1px solid #000000;
  position: relative;
  display: flex;
}
.m_third_party::after {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "OR";
  font-size: 16px;
  width: 50px;
  background-color: #f8f9fa;
  text-align: center;
}

.login-fb,
.login-line {
  display: block;
  width: 100%;
  height: 40px;
  text-align: center;
  color: #fff;
  margin: 20px 5px;
  line-height: 40px;
}
.login-fb:hover,
.login-line:hover {
  color: #fff;
  box-shadow: 0px 0px 15px 0px rgba(4, 4, 4, 0.5);
  transition: transform 0.5s ease;
  transform: translateY(-5px);
}

.login-fb {
  background-color: #3b5781;
}

.login-line {
  background-color: #00b900;
}

.feedback-content {
  max-width: 1200px;
  margin: 40px auto;
  overflow: hidden;
  background-color: #fff;
  background-image: url(/img/bk-6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.feedback-list {
  height: 280px;
  display: flex;
  border-top: 2px double rgba(0, 0, 0, 0.405);
  border-bottom: 2px double rgba(0, 0, 0, 0.405);
  border-width: 5px;
}

.m_feedback_card {
  flex-shrink: 0;
  width: 330px !important;
  height: 190px !important;
  display: flex;
  flex-wrap: wrap;
  margin: 40px 20px;
  padding: 15px;
  border: 2px double rgba(0, 0, 0, 0.405);
  border-width: 10px;
  position: relative;
  clip-path: path("M 0 200 L 0 40 L 40 0 L 340 0 L 340 160 L 300 200 L 0 200 ");
  background-color: #fff;
}
.m_feedback_card::after, .m_feedback_card::before {
  content: "";
  position: absolute;
  border-top: 5px solid rgba(0, 0, 0, 0.405);
  z-index: 10;
}
.m_feedback_card::after {
  width: 80px;
  height: 0px;
  transform: rotate(135deg);
  top: 5%;
  left: -10%;
}
.m_feedback_card::before {
  width: 50px;
  height: 0px;
  transform: rotate(315deg);
  top: 98%;
  left: 92%;
}
.m_feedback_card .details {
  width: 100%;
  height: 80%;
  display: flex;
}
.m_feedback_card .details .user-img {
  width: 40%;
}
.m_feedback_card .details .user-img img {
  max-width: 100%;
  border-radius: 50%;
}
.m_feedback_card .details .info {
  margin: 10px 0 0 10px;
  width: 60%;
}
.m_feedback_card .details .info .user-name {
  font-size: 36px;
  margin: 0 0 10px 10px;
}
.m_feedback_card .details .info .user-feedback {
  font-size: 20px;
  font-style: italic;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.m_feedback_card .star {
  margin-top: 5px;
  font-size: 24px;
  color: #ffea00;
  position: relative;
}

.top-video {
  max-width: 1200px;
  margin: 80px auto 60px auto;
}

.carousel-content {
  max-width: 1200px;
  max-height: 600px;
  margin: 0px auto 0 auto;
  position: relative;
}

.scaling-container {
  max-height: 600px;
}
.scaling-container img {
  object-fit: fill;
}

.distant {
  animation-name: distant;
  animation-duration: 4s;
}
@keyframes distant {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.countdown-progress {
  width: 100%;
  height: 5px;
  background-color: #03a9f4;
  position: absolute;
  bottom: -5px;
  animation-name: countdown-progress;
  animation-duration: 7s;
}
@keyframes countdown-progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.introduce-box:nth-child(1) {
  background: linear-gradient(160deg, transparent 0%, transparent 45%, #f7f3ee 45%, #f7f3ee 100%);
}

.introduce-box:nth-child(2) {
  background: linear-gradient(200deg, transparent 0%, transparent 45%, #f7f3ee 45%, #f7f3ee 100%);
}

.introduce-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.introduce-box {
  padding: 40px 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 60px auto;
}
.introduce-box .txt-box {
  width: 40%;
  padding: 0px 60px;
  text-align: center;
  font-size: 24px;
  line-height: 36px;
}
.introduce-box .txt-box h3 {
  font-size: 36px;
  margin-bottom: 40px;
}
.introduce-box .img-box {
  width: 60%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.introduce-box .img-box > img {
  object-fit: cover;
}
.introduce-box .img-box > img:nth-child(1), .introduce-box .img-box > img:nth-child(2), .introduce-box .img-box > img:nth-child(3) {
  margin: auto;
  width: 50%;
}
.introduce-box .img-box > img:nth-child(1) {
  height: 70%;
  padding-right: 10px;
}
.introduce-box .img-box > img:nth-child(2), .introduce-box .img-box > img:nth-child(3) {
  height: 48%;
}

.introduce-box:nth-child(2) {
  flex-direction: row-reverse;
}
.introduce-box:nth-child(2) > img:nth-child(1) {
  order: 1;
  padding-right: 0px;
  padding-left: 10px;
}

.img-box-carousel {
  display: none;
  max-width: 100%;
  max-height: 400px;
  margin: 0 auto;
  position: relative;
}

.carousel-box img {
  max-width: 100%;
  aspect-ratio: 12/9;
}

@media screen and (max-width: 992px) {
  .introduce-box {
    margin: 10px auto;
  }
  .introduce-box .txt-box {
    height: 50%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 40px 60px;
  }
  .introduce-box .txt-box h3 {
    display: block;
    width: 50%;
    height: 35%;
    margin-bottom: 0px;
  }
  .introduce-box .txt-box p {
    width: 50%;
    height: 65%;
  }
  .introduce-box .txt-box a {
    width: 50%;
    margin-left: 30px;
    margin: auto 20px;
  }
  .introduce-content .introduce-box .img-box {
    width: 100%;
    height: auto;
    flex-direction: row;
  }
  .introduce-content .introduce-box .img-box img {
    width: 33%;
    padding: 5px;
    aspect-ratio: 12/9;
  }
}
@media screen and (max-width: 768px) {
  .introduce-box {
    width: 100%;
    margin: 10px 0;
  }
  .introduce-box .img-box {
    display: none;
  }
  .introduce-box .img-box-carousel {
    display: block;
  }
}
.product-content {
  max-width: 1200px;
  margin: auto;
}
.product-content ul {
  justify-content: space-between;
  background-color: #f7f3ee;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 360px);
}

.product-card {
  height: 430px;
  background-color: #ffffff;
  color: #000;
  margin: 15px auto;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  grid-gap: 20px;
}
.product-card .img {
  height: 60%;
}
.product-card .img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.product-card .txt {
  height: 40%;
}
.product-card .txt h3 {
  font-size: 24px;
  margin: 10px 15px;
  font-weight: 600;
  font-style: italic;
}
.product-card .txt p {
  font-size: 16px;
  margin: 0 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.product-card .txt .price {
  display: flex;
  justify-content: space-between;
  margin: 15px 20px 0 20px;
  line-height: 40px;
}
.product-card .txt .price span {
  font-size: 24px;
  color: #fe8383;
  font-style: italic;
}
.product-card .txt .price a {
  padding: 0;
  width: 40px;
  height: 40px;
}

.store-map {
  background-image: url("/img/background-wall-1.gif");
  background-repeat: repeat;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.index-address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 60px;
  width: 30%;
}
.index-address .a-row {
  display: flex;
  padding: 20px 0;
  border-top: 1px solid rgb(255, 205, 41);
  font-size: 20px;
  align-items: center;
}
.index-address .a-row:nth-child(5) {
  border-bottom: 1px solid rgb(255, 205, 41);
}
.index-address .a-row .data-name {
  text-align: center;
  width: 100%;
  font-size: 24px;
}
.index-address .a-row .item {
  width: 25%;
}
.index-address .a-row .data {
  width: 60%;
}

.accordion-faq {
  background-color: #ffe8cb;
  width: 70%;
  border-radius: 30px;
  margin: 30px auto;
  padding: 30px;
}
.accordion-faq h3 {
  font-size: 40px;
  margin-bottom: 16px;
}
.accordion-faq .accordion-item {
  background-color: rgb(250, 250, 247);
  border-radius: 30px;
  padding: 20px;
  margin-bottom: 20px;
}
.accordion-faq .accordion-item .question {
  cursor: pointer;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  font-style: italic;
  font-weight: 600;
}
.accordion-faq .accordion-item .question i {
  color: rgb(0, 0, 0);
  font-size: 30px;
}
.accordion-faq .accordion-item .answer {
  margin: 10px 0 0 40px;
  font-size: 20px;
  line-height: 30px;
  overflow: hidden;
  transition: max-height 0.7s ease-in-out;
  max-height: 0px;
}
.accordion-faq .accordion-item .an-auto {
  max-height: 300px !important;
}

.down-rotate {
  transform: rotate(180deg);
}/*# sourceMappingURL=all.css.map */