
/* 入口首頁樣式 */

.top-video{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    display: flex;
}
.video-container{
    width: 70%;
}
.video-container .video-1{
    width: 100%;
    height: 615px;
    object-fit: cover;
    margin-right: auto;
}

/* 輪播大小 */

.carousel-size{
    width: 30%;
    margin-top: 270px;
}
.carousel-indicators{
    /* width: 30%; */
    /* margin: 270px; */
    margin-left: 70%;
    margin-right: 0;
    margin-bottom: 55px;
}
.carousel-item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    /* max-height: 400px; */
    opacity: 0.9;
}


/* 左右圖文 */
.introduce-box{
    margin-top: 550px;
    overflow: hidden;
}
.introduce-box-1{
    height: 600px;
    width: 100%;
    padding:0 80px;
    background: linear-gradient(160deg, transparent 0%, transparent 45%, #f7f3ee 45%, #f7f3ee 100%);
    display: flex;
    align-items:center;  
    margin: 80px 0;
}
.introduce-box-1 .txt-box{
    width: 40%;
    padding: 30px 60px;
    text-align: center;
}
.introduce-box-1 .txt-box h3{
    font-size: 36px;
    margin-bottom: 40px;
}
.introduce-box-1 .txt-box p{
   font-size: 24px;
   line-height: 36px;
}

.introduce-box-1 .img-box{
    width: 60%;
    height: 100%;
    display: flex;
    align-items:center;  
}
.introduce-box-1 .img-box .box-left{
    width: 50%;
    height: 70%;
    padding: 10px;
}
.introduce-box-1 .img-box .box-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.introduce-box-1 .img-box .box-right{
    width: 50%;
    height: 80%;
}
.introduce-box-1 .img-box .box-right img{
    width: 100%;
    height: 50%; 
    padding: 10px;
    object-fit: cover;
}
/* 相反布局 */
.contrary{
    background: linear-gradient(200deg, transparent 0%, transparent 45%, #f7f3ee 45%, #f7f3ee 100%);
    flex-direction: row-reverse;
}
.contrary .img-box{
    flex-direction: row-reverse;
}




/* 產品列表 */
.product-list{
    height: auto;
    display: flex;
    flex-wrap:wrap;  
    justify-content:space-between;   
    background-color: #f7f3ee;
    padding: 40px 80px;
}
.product-card{
    width: 300px;
    height: 430px;
    background-color: #ffffff;
    color: #000;
    margin: 15px 10px;
    padding: 20px;
    border-radius:10px;
    position: relative;
}
.product-card .product-img{
    width: 100%;
    height: 50%;
    /* border: 1px solid rgb(146, 145, 145); */
}
.product-img img{
   width: 100%;
   height: 100%;
   border-radius:10px;
   object-fit: cover;
}
.product-card .product-txt{
    width: 100%;
    height: 50%;
}
.product-card .product-txt h3{
    font-size: 24px;
    margin: 10px 5px;
    font-weight:600;
    font-style: italic;
}
.product-card .product-txt p{ 
    height: 60px;
    margin: 0 20px;
    text-overflow: ellipsis; 
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
}




.order{
    display: flex;
    justify-content:space-between; 
    margin-top: 10px;
}
.product-card a{
    color: #ffffff;
    padding: 0;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px;
}
.product-card a i{
    margin-top: 9px;
    margin-left: 8px;
}





/* 顧客回饋 */
.commentary-container{
    width: 100%;
    overflow: hidden;
    background-color: #fff;
}
.commentary-list{
    width: 500%;
    height: 280px;
    padding: 36px 0;
    margin: 20px;
    display: flex;
    border-top: 2px double  rgba(0, 0, 0, 0.405);
    border-bottom: 2px double  rgba(0, 0, 0, 0.405);
    border-width:5px;
}
.commentary-list .commentary-card{
    width: 300px;
    height: 100%;
    margin: 0px 30px;
    padding: 15px;
    border: 2px double  rgba(0, 0, 0, 0.405);
    border-width:10px;
    position: relative;
}
.commentary-list .commentary-card::after{
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    border-top:3px solid rgba(0, 0, 0, 0.405);
    background-color: #fff;
    z-index: 1;
    transform: rotate(135deg);
    top: -35px;
    left: -35px;
}
.commentary-list .commentary-card::before{
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    border-top:3px solid rgba(0, 0, 0, 0.405);
    background-color: #fff;
    z-index: 1;
    transform: rotate(315deg);
    top: 164px;
    left: 267px;
}
.commentary-list .commentary-card .commentary-img{
    background-color: rgb(245, 170, 237);
    width: 90px;
    height: 90px;
    border-radius: 70px;
    line-height: 90px;
    text-align: center;
    font-size: 40px;
}
.commentary-list .commentary-card .commentary-txt{
    margin: 10px;
}
.commentary-list .commentary-card .commentary-star{
    width: 230px;
    height: 40px;
    background-image:url("/img/star-rating-1.png") ;
    background-repeat: no-repeat; 
    background-size: 200% 650%;
    position: absolute;
    top: 145px;
    left: 5px;
    background-position: 0% 0%;
}



/* 店面介紹 */
.store-map{
    background-image: url("/img/background-wall-1.gif");
    background-repeat: repeat; 
    padding: 40px;
    display: flex;
    color: #000000;
    font-size: 24px;
    justify-content:center;   
}
.address{
    display: flex;
    flex-direction:column;  
    justify-content:center;     
    margin-left: 60px;
    width: 30%;
}
.address .address-txt{
    display: flex;
    width: 120%;
    padding: 15px 0;
    border-top: 1px solid rgb(255, 205, 41);
    font-size: 20px;
    align-items:center;    
}
.address .address-txt p{
    width: 25%;  
    margin: 0; 
    padding: 10px;
}
.address .address-txt .txt-data{
    width: 60%;
}



/* 問答欄 */
.faq{
    background-color: #ffe8cb;
    width: 70%;
    border-radius: 30px;
    margin: 30px auto;
    padding: 30px;
}
.faq p{
    font-size: 40px;
}
.dropmenu-element{
    background-color: rgb(250, 250, 247);
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 20px;
}
.dropmenu-element .qa-Click-box{
    display: flex;
    cursor:pointer;
}
.dropmenu-element .qa-q{
    font-size: 24px;
    display:inline;    
}
.dropmenu-element i{
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-left: 5px;
    margin-top: 3px;
}
.qa-a{
    overflow: hidden;
    transition: max-height 0.7s ;
    height: 0;
}
/* 切換顯示 */
.hidden{
    height:auto;
}
.rotate-180 {
    transform: rotate(180deg);
}
