
/* 入口首頁樣式 */
body{
    overflow: hidden;
}
.schedule-container{
    width: 100%;
    height: 50vw;
    background-color: #eaf7fc;
    z-index: 1000;
    position: relative;
    
}
.schedule{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 5px;
    border-radius: 50px;
}
.percent{
    position: relative;
    display: block;
    width: 0%;
    height: 15px;
    background-color: #03a9f4;
    border-radius: 20px;
}
.number{
    position: absolute;
    top: -60px;
    right: -60px;
    padding: 10px 15px;
    color: #03a9f4;
    border-radius: 50px;
}
.schedule,.number{
    box-shadow: inset 0 5px 5px rgba(176, 176, 176, 0.75),
    0 5px 8px rgb(0, 0, 0, 0.5),
    0 12px 10px rgb(0, 0, 0, 0.5);
}
h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    font-size: 4em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    transition: 0.5s;
    color:#fff;
}



/* 影片 */
.top-video{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    display: flex;
}
.video-container{
    width: 70%;
}
.video-container .video-1{
    width: 100%;
    height: 615px;
    object-fit: cover;
    margin-right: auto;
}
/* 輪播大小 */

.carousel-size{
    width: 30%;
    margin-top: 270px;
}
.carousel-indicators{
    /* width: 30%; */
    /* margin: 270px; */
    margin-left: 70%;
    margin-right: 0;
    margin-bottom: 55px;
}
.carousel-item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    /* max-height: 400px; */
    opacity: 0.9;
}
/* 768不顯示 */
@media screen and (max-width: 768px){
    .carousel-size{
        display: none;
    }
    .video-container{
        width: 100%;
    }
    .video-container .video-1{
        width: 100%;
        height: 300px;
    }
}


/* 左右圖文 */
.introduce-box{
    margin-top: 550px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}
.introduce-box-1{
    height: 600px;
    width: 100%;
    padding:0 80px;
    background: linear-gradient(160deg, transparent 0%, transparent 45%, #f7f3ee 45%, #f7f3ee 100%);
    display: flex;
    flex-wrap: wrap;
    align-items:center;  
    margin: 80px 0;
}
.introduce-box-1 .txt-box{
    width: 40%;
    padding: 30px 60px;
    text-align: center;
}
.introduce-box-1 .txt-box h3{
    font-size: 36px;
    margin-bottom: 40px;
}
.introduce-box-1 .txt-box p{
   font-size: 24px;
   line-height: 36px;
}

.introduce-box-1 .img-box{
    width: 60%;
    height: 100%;
    display: flex;
    align-items:center;  
}
.introduce-box-1 .img-box .box-left{
    width: 50%;
    height: 70%;
    padding: 10px;
}
.introduce-box-1 .img-box .box-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.introduce-box-1 .img-box .box-right{
    width: 50%;
    height: 80%;
}
.introduce-box-1 .img-box .box-right img{
    width: 100%;
    height: 50%; 
    padding: 10px;
    object-fit: cover;
}
/* 相反布局 */
.contrary{
    background: linear-gradient(200deg, transparent 0%, transparent 45%, #f7f3ee 45%, #f7f3ee 100%);
    flex-direction: row-reverse;
}
.contrary .img-box{
    flex-direction: row-reverse;
}

/* 品牌介紹 */
@media screen and (max-width: 768px){
    .introduce-box{
        margin-top: 250px;
    }
    .introduce-box-1{
        height: 650px;
        padding: 10px;
    }
    .but-link-1{
        margin: 10px 0;
    }
    .introduce-box-1 .txt-box{
        padding: 0px 0px;
    }
    .introduce-box-1 .img-box{
        height: 75%;
        margin-bottom: 30px;
    }
    .introduce-box-1 .txt-box,
    .introduce-box-1 .img-box{
        width: 100%;
    }
}


/* 產品列表 */
.product-list{
    height: auto;
    justify-content:space-between; 
    background-color: #f7f3ee;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 360px);
}
.product-card{
    width: 290px;
    height: 430px;
    background-color: #ffffff;
    color: #000;
    margin: 15px auto;
    padding: 20px;
    border-radius:10px;
    position: relative;
    grid-gap:20px;
}
.product-card .product-img{
    width: 100%;
    height: 50%;
}
.product-img img{
   width: 100%;
   height: 100%;
   border-radius:10px;
   object-fit: cover;
}
.product-card .product-txt{
    width: 100%;
    height: 50%;
}
.product-card .product-txt h3{
    font-size: 24px;
    margin: 10px 5px;
    font-weight:600;
    font-style: italic;
}
.product-card .product-txt>p{ 
    height: 60px;
    margin: 0 20px;
    text-overflow: ellipsis; 
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
}
.order{
    display: flex;
    justify-content:space-between; 
    margin-top: 15px;
    height: 50px;
}
.order .price{
    line-height: 50px;
}
.product-card a{
    color: #ffffff;
    padding: 0;
    display: inline-block;
    width: 40px;
    height: 40px;
}
.product-card a i{
    margin-top: 9px;
    margin-left: 8px;
}
/* 產品介紹 */
@media screen and (max-width: 1120px) and (min-width:769px){
    .product-list{
        grid-template-columns: repeat(auto-fill, 360px);
        justify-content:space-around;
    }
    .product-card{
        width: 360px;
    }
}
@media screen and (max-width: 768px){
    .product-list{
        grid-template-columns: repeat(auto-fill, 100%);
    }
    .product-card{
        width: 90%;
        height: 500px;
    }
    .product-card .product-img{
        height: 60%;
    }
}


/* 顧客回饋 */
.commentary-container{
    width: 100%;
    overflow: hidden;
    background-color: #fff;
}
.commentary-list{
    width: 500%;
    height: 280px;
    padding: 36px 0;
    margin: 20px;
    display: flex;
    border-top: 2px double  rgba(0, 0, 0, 0.405);
    border-bottom: 2px double  rgba(0, 0, 0, 0.405);
    border-width:5px;
}
.commentary-list .commentary-card{
    width: 300px;
    height: 100%;
    margin: 0px 30px;
    padding: 15px;
    border: 2px double  rgba(0, 0, 0, 0.405);
    border-width:10px;
    position: relative;
}
.commentary-list .commentary-card::after,
.commentary-list .commentary-card::before{
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    border-top:3px solid rgba(0, 0, 0, 0.405);
    background-color: #fff;
    z-index: 0;
    transform: rotate(135deg);
    top: -35px;
    left: -35px;
}
.commentary-list .commentary-card::before{
    transform: rotate(315deg);
    top: 164px;
    left: 267px;
}
.commentary-list .commentary-card .commentary-img{
    background-color: rgb(245, 170, 237);
    width: 90px;
    height: 90px;
    border-radius: 70px;
    line-height: 90px;
    text-align: center;
    font-size: 40px;
}
.commentary-list .commentary-card .commentary-txt{
    margin: 10px;
}
.commentary-list .commentary-card .commentary-star{
    width: 230px;
    height: 40px;
    background-image:url("/img/star-rating-1.png") ;
    background-repeat: no-repeat; 
    background-size: 200% 650%;
    position: absolute;
    top: 145px;
    left: 5px;
    background-position: 0% 0%;
}



/* 店面介紹 */
.store-map{
    background-image: url("/img/background-wall-1.gif");
    background-repeat: repeat; 
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    color: #000000;
    font-size: 24px;
    justify-content:center;   
}
.address{
    display: flex;
    flex-direction:column;  
    justify-content:center;     
    margin-left: 60px;
    width: 30%;
}
.address-txt{
    display: flex;
    padding: 15px 0;
    border-top: 1px solid rgb(255, 205, 41);
    font-size: 20px;
    align-items:center;  
}
.address .address-txt .txt-data-main{
    text-align: center;
    width: 100%;
    font-size: 24px;
}
.address .address-txt p{
    width: 25%;  
    margin: 0; 
    padding: 10px;
}
.address .address-txt .txt-data{
    width: 60%;
}


/* 問答欄 */
.faq{
    background-color: #ffe8cb;
    width: 70%;
    border-radius: 30px;
    margin: 30px auto;
    padding: 30px;
}
.faq p{
    font-size: 40px;
    margin-bottom: 16px;
}
.dropmenu-element{
    background-color: rgb(250, 250, 247);
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 20px;
    
}
.dropmenu-element .qa-Click-box{
    display: flex;
    cursor:pointer;
    height: 40px;
}
.dropmenu-element .qa-q{
    font-size: 24px;
    display:inline;    
}
.dropmenu-element i{
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-left: 5px;
    margin-top: 3px;
}
.qa-a{
    overflow: hidden;
    transition: max-height 0.7s ;
    height: 0;
}
/* 切換顯示 */
.hidden{
    height:auto;
}
.rotate-180 {
    transform: rotate(180deg);
}
@media screen and (max-width: 768px){
    /* 顧客回饋 */
     .commentary-container{
         display: none;
     }
     /* 其他 */
     .address{
         width: 90%;
         margin: 0;
     }
     .faq{
         width: 90%;
     }
     .footer-siteinfo .siteinfo{
         width: 90%;
     }
     .footer-icon{
         width: 90%;
     }
 }
 


