
/* 頁頭頁尾區域樣式  全局共通樣式 動畫設定*/
body{
    background-image: url("/img/background-wall-1.gif");
    /* background-size: cover; */
    background-repeat: repeat; 
    width: 100%;
    height: auto;
}
a{    
    text-decoration: none;
    color: #ffffff;
}


/* 頁首部分 */
.header{
    height: 110px;
}
.header-container{
    width: 100%;
    height: 100px;
    /* margin: auto; */
    display: flex;
    line-height: 100px;
    justify-content:space-between;
    background-color:#0000005c;
    font-size: 24px;
    padding: 0 130px;
    position:fixed;
    z-index: 10;
}
.header .logo img{
    width: 160px;
    height: 80px;
}
.header .nav{
    display: flex;
}
.header .item{
     padding: 0 20px;
}
.header .item:hover{
    background-color: #4d4b4b4f;
    border-left: 1px solid #ffffff;
    border-right:1px solid #ffffff;
    /* box-sizing: border-box; */
}
.header .item:hover a{
    color: rgb(247, 199, 77);
}

.header .user{
    display: flex;
}
.header .user .icon{
    margin: 10px;
}
.header .user .icon:hover{
    color: rgb(247, 199, 77);
}

/* 登入頁 */
.login-mask{
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
    background-color: #b2b2b296;
    display: none;
}
.login-page{
    width: 400px;
    height: 500px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius:20px;
    padding: 20px;
    /* display: flex; */
}
.style-box{
    width: 100%;
    height: 100%;
    background-color: #f0eeee;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;  
}
.login-txt-user{
    font-size: 36px;
    text-align: center;
    color: rgb(255,121,10);
    height: 80px;
}

/* 表單組 */
.account-form{
    width: 100%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
}
.form-group{
    margin: 10px 0;
    display: flex;
    width: 100%;
    height: 30px;
}
.form-group label{
    line-height: 40px;
    margin-right: 20px;
}
#account,#password{
    background-color: rgb(232,240,254);
    border: none;
    height: 40px;
    width: 80%;
}
.login-but-group{
    display: flex;
    flex-wrap: wrap;
    height: 25%;
}
.forget{
    color: #3801ff;
    margin-left: 250px;
}


.login,.register,.login-fb,.login-google{
    background-color: rgba(255, 144, 54, 0.773);
    font-size: 18px;
    height: 50px;
    width: 140px;
    margin: 0px 10px;
    border-radius: 20px;
}
.login:hover{
    background-color: rgb(255,121,10);
}
.register:hover{
    background-color: rgb(255,121,10);
}
.login-fb:hover{
    background-color: rgb(8,102,255,0.6);
}
.login-google:hover{
    background-color: rgb(8,102,255,0.6);
}


/* 登入頁關閉按鈕 */
.close-login{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #f7f3ee;
    font-size: 24px;
    border-radius:40px;
    line-height: 50px;
    text-align: center;
    top: -15px;
    right: -15px;
    color: #ff0000;
}
.close-login:hover{
    font-size: 40px;
    background-color: #ffa600;
}












/* 頁尾部分 */
.footer{
    /* background-image: url("/img/background-wall-1.gif");
    background-repeat: repeat;  */
    color: #000000;
    background-color: #f7f3ee;
}
.footer-siteinfo{
    display: flex;
    justify-content:center;
    padding: 30px 0;
    flex-wrap: wrap;
}
.footer-siteinfo .siteinfo{
    width: 30%;
}
.footer-siteinfo .siteinfo p{
    text-align: center;
    margin-bottom:5px ;
}
.footer-icon{
    display: flex;
    font-size: 36px;
    width: 40%;
    justify-content:center;
}
.footer-icon i{
    margin: 10px;
    color: #000000;
}


/*
.footer-icon .yt{
    color: #ff0000;
}
.footer-icon .tw{
    color: #0088ff;
}
.footer-icon .fb{
    color: #0088ff;
}
.footer-icon .line{
    color: #4cc764;
}
.footer-icon .ig{
    position:relative;
    z-index: 10;
}
.footer-icon .ig::after{
    content: '';
    display: block;
    background: linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
      );
      border-radius:30%;
      height: 30px;
      width: 30px;
      position:absolute;
      top: 4px;
      left: 2px;
      z-index:-3;
} */


.footer-icon .yt:hover{
    color: #ff0000;
}
.footer-icon .tw:hover{
    color: #0088ff;
}
.footer-icon .fb:hover{
    color: #0088ff;
}
.footer-icon .line:hover{
    color: #4cc764;
}
.footer-icon .ig{
    position:relative;
    z-index: 5;
}
.footer-icon .ig:hover::after{
    content: '';
    display: block;
    background: linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
      );
      border-radius:30%;
      height: 30px;
      width: 30px;
      position:absolute;
      top: 4px;
      left: 2px;
      z-index:-3;
}






/* 側邊錨點 */
.footer-siteinfo .qr{
    width: 30%;
}
.copyright{
    text-align:center;
}
.anchor{
    position:fixed;
    top: 70%;
    right: 15px;
}
.anchor .but{
    background-color: rgba(245, 191, 43, 0.47);
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
}
.anchor .but a{
    color: #ffffff;
}



/* 黃色按鈕 */
.yellow-button{
    background-color: rgb(247, 199, 77);
    border-radius:30px;
    /* height: 36px; */
    padding: 10px 30px;
}
.yellow-button:hover{
    color: rgb(13, 0, 255);
}







/* 共通組件 */

/* 圖標 */
.icon-right{
    padding-left:10% ;
}

.product-card:nth-child(1)::before,
.product-card:nth-child(3)::before,
.product-card:nth-child(5)::before,
.product-card:nth-child(6)::before{
    content: "";
    position: absolute;
    background-image:url("/img/icon-2.png") ; 
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 80px;
    top: 0px;
    left: -20px;
    transform: rotate(-23deg);
    z-index: 10;
}
.product-card:nth-child(3)::after,
.product-card:nth-child(4)::after,
.product-card:nth-child(6)::after,
.product-card:nth-child(7)::after{
    content: "午晚提供";
    position: absolute;
    writing-mode: vertical-lr;
    width: 30px;
    height: 100px;
    color: #ff000075;
    background-color: #f9d5a659;
    top: 110px;
    right: 25px;
    border-radius:10px;
    text-align: center;
    font-weight:800;
    z-index: 10;
}


/* 按鈕-1  選中後有動畫黑底*/
.but-link-1{
    display: block;
    width: 100%;
    height: 70px;
    border: 1px solid #000;
    text-align: center;
    line-height: 70px;
    color: #000;
    position: relative;
    z-index: 2;
    overflow: hidden;
    margin: 100px 0;
    
}
.but-link-1::before{
    content: "";
    position: absolute;
    width: 100%;
    height:100%;
    left: 0px;
    transition: transform ease .3s;     
    transform: translateX(-100%);
    z-index: -1;
    border-right: 60px solid transparent;
    border-bottom: 70px solid #000;
}
.but-link-1:hover{
    color: #fff;
}
.but-link-1:hover::before{
    background-color: #000;
    transform: translateX(0%);
}




/* 動畫效果 */

.animate-fade-in-left{
    animation-name:fadeInLeft-1;
    animation-duration: 1s; 
    animation-fill-mode: both;
}


@keyframes fadeInLeft-1 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

  