/* 菜單及關於我們 */
/* *{
    box-shadow: 2px 2px 2px 2px rgba(255, 0, 0, 0.1);
} */
.main {
    display: flex;
    background-color: rgb(247, 243, 238);
}


/*  */
.main .dropmenu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(255, 214, 92);
    width: 200px;
    font-size: 36px;
    text-align: center;
}

.main .dropmenu .column {
    box-sizing: border-box;
    padding: 10px 0;
    width: 175px;

}

.main .dropmenu .column:hover {
    transition: border 0.3s ease;
}

.main .dropmenu .column .dropmenu {
    display: none;
    width: 175px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 20px
}

.main .dropmenu .column:hover .dropmenu {
    display: block
}

.main .dropmenu .column .dropmenu .item {
    font-size: 24px;
}


/*  */
.container {
    margin: 15px;
}

.container .switch {
    display: flex;
    justify-content: flex-start;
    margin: 15px;
    color: #ff6000;
    font-size: 25px;
}

.container .switch i {
    margin: 0 5px;
}

.container .switch .detailed:hover {
    background-color: rgb(169, 205, 236);
    border-radius: 10px;
}

.container .switch .simple:hover {
    background-color: rgb(169, 205, 236);
    border-radius: 10px;
}








/* ***********卡片****************** */

.card-container {
    display: flex;
    flex-wrap: wrap;
}


/* 詳細模式 */
.card-detailed {
    max-width: 80%;
    height: 300px;
    display: flex;
    flex-direction: row;
}

/* 簡略模式 */
.card-simple {
    width: 45%;
    height: 220px;
    display: flex;
    flex-direction: row;
}

.card-container .card {
    margin: 15px;
    box-shadow: 5px 5px 5px 5px rgb(222 168 218 / 22%);
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.card .img-control {
    width: 40%;
    height: 100%;
}

.card .img-control img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid rgb(173, 189, 230);
}

.illustrate-container {
    width: 60%;
}

.card .txt-control {
    padding: 15px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .txt-control h3 {
    display: block;
    font-size: 40px;
    color: #fd8585;
}

.card .txt-control p {
    margin-top: 25px;
    height: 100px;
    width: 100%;
}

.illustrate-container .price-btn {
    display: flex;
    padding-left: 15px;
}

.price-btn .price {
    width: 140px;
    line-height: 75px;
    font-size: 30px;
    color: #fd8585;
}

/* 產品操作按鈕 */
.reduce,
.plus {
    border: 5px;
    width: 35px;
    height: 35px;
    border-radius: 40px;
    margin: 0 5px;
    background-color: rgb(231, 228, 228);
}

.quantity {
    width: 50px;
}

.shopping {
    background-color: #ff6000;
    border: 1px solid #ff6000;
    border-radius: 10px;
    color: #ffffff;
    padding: 12px 14px;
    margin-top: 15px;
}

.shopping:hover {
    color: #2600ff;
}


/* ***********狀態提示框****************** */

.status-box {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    right: 10px;
    bottom: 0;
    width: 20%;
    height: 80vh;
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
}

.status {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    height: 80px;
    background: #fff;
    font-weight: 500;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 00 0 5px rgb(0, 43, 255, 30%);
    display: flex;
    align-items: center;
    position: relative;
    flex-shrink: 0;
}

.status::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: green;
    animation: anim 3s linear forwards;
}

@keyframes anim {
    100% {
        width: 0;
    }
}

.status div {
    width: 100%;
    font-size: 24px;
    margin-left: 10px;
}

.status div .fa-circle-check {
    color: #49bc6c;
    margin-right: 10px;
}

.status div .fa-circle-xmark {
    color: #f25959;
    margin-right: 10px;
}

.status p {
    font-size: 18px;
    margin-left: 20px;
}