
/* 菜單及關於我們 */

.main{
    display: flex;
    background-color:rgb(247,243,238) ;
}


/*  */
.main .dropmenu{
    display: flex;
    justify-content:space-around;
    flex-wrap:wrap;
    background-color: rgb(255, 214, 92);
    width: 200px;
    font-size: 36px;
    text-align: center;
}
.main .dropmenu .column{
    box-sizing:border-box;
    padding: 10px 0;
    width: 175px;

}
.main .dropmenu .column:hover{
    transition: border 0.3s ease;
}
.main .dropmenu .column .dropmenu{
    display: none;
    width: 175px;
    background-color: rgb(255, 255, 255 ,0.5) ;
    border-radius:20px
}
.main .dropmenu .column:hover .dropmenu{
    display:block
}
.main .dropmenu .column .dropmenu .item{
    font-size: 24px;
}


/*  */
.container{
    margin: 15px;
}
.container .switch{
    display: flex;
    justify-content:flex-start;
    margin: 15px;
    color: #ff6000;
    font-size: 25px;
}
.container .switch i{
    margin:  0 5px;
}
.container .switch .detailed:hover{
    background-color: rgb(169, 205, 236);
    border-radius:10px;
}
.container .switch .simple:hover{
    background-color: rgb(169, 205, 236);
    border-radius:10px;
}


/*  */
.card-container{
    display: flex;
    flex-wrap:wrap;
}
.m-card{
    display: flex;
    flex-wrap:wrap;
    margin: 15px;
    box-shadow: 5px 5px 5px 5px rgb(222 168 218 / 22%);
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
/* 詳細模式 */
.m-card-detailed{
    max-width: 100%;
}
/* 簡略模式 */
.m-card-simple{
    max-width: 30%;
    justify-content:center;   
}

.m-card .m-img{
    width: 20vw;
   
}
.m-card .m-img img{
    width: 100%;
    object-fit: fill; 
    border: 5px solid rgb(173, 189, 230);
}
.introduce{
    padding: 15px;
    /* height: 60%; */
    width: 60%;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
}
/* 產品操作按鈕 */
.reduce,.plus {
    border:0cap;
    width: 35px;
    height: 35px;
    border-radius:40px;
    margin: 0 5px;
    background-color: rgb(231, 228, 228);
}
.quantity{
    width: 50px;
}
.shopping{
    background-color: #ff6000;
    border: 1px solid #ff6000;
    border-radius:10px;
    color: #ffffff;
    padding: 12px 14px;
    margin-top: 15px;
}
.shopping:hover{
    color: #2600ff;
}
