/* 導覽選單按鈕 */
.menu-but{
    display: none;
}
@media screen and (max-width: 1200px){
    .header-container{
        padding:0 10px;
    }
}
@media screen and (max-width: 992px){
    .header-container{
        padding: 10px;
    }
    .menu-but{
        display: block;
    }
    .header-container .nav{
        position: absolute;
        flex-wrap: wrap;
        background-color: #ffffff;
        width: 60%;
        height: 350px;
        top: 100px;
        left: -1000px; 
        z-index: 19;
        transition: left 0.5s ease;
    }
    .header-container > .open{
        left: 0px; 
    }
    .header .menu-mask{
        content: " ";
        position:fixed;
        background-color: #0000005c;
        z-index: 1;
        top: 0px;
    }
    .header>.open{
        width: 100%;
        height: 200%;
    }
    .header .nav .item{
        width: 100%;
        border-bottom: 2px solid rgb(183, 183, 183); 
        z-index: 20;
        height: 25%;
    }
    .header .nav .item:hover{
        background-color: rgb(255,121,10);
    }
    .header .nav .item>a{
        color: #000;
        height: 100%;
        display: block;
        line-height: 2.5;
        font-size: 36px;
    }
}
@media screen and (max-width: 768px){
    .header .logo,
    .yellow-button{
        display: none;
    }
    .header-container{
        justify-content:center; 
        bottom: 0;
    }
    .header-but>i{
        font-size: 40px;
    }
    .header-container .nav{
        top: -350px;
    }
}

/* 影片 */
@media screen and (max-width: 768px){
    .carousel-size{
        display: none;
    }
    .video-container{
        width: 100%;
    }
    .video-container .video-1{
        width: 100%;
        height: 300px;
    }
}



/* 品牌介紹 */
@media screen and (max-width: 768px){
    .introduce-box{
        margin-top: 250px;
    }
    .introduce-box-1{
        height: 650px;
        padding: 10px;
    }
    .but-link-1{
        margin: 10px 0;
    }
    .introduce-box-1 .txt-box{
        padding: 0px 0px;
    }
    .introduce-box-1 .img-box{
        height: 75%;
        margin-bottom: 30px;
    }
    .introduce-box-1 .txt-box,
    .introduce-box-1 .img-box{
        width: 100%;
    }
}



/* 產品介紹 */
@media screen and (max-width: 1120px) and (min-width:769px){
    .product-list{
        grid-template-columns: repeat(auto-fill, 360px);
        justify-content:space-around;
    }
    .product-card{
        width: 360px;
    }
}
@media screen and (max-width: 768px){
    .product-list{
        grid-template-columns: repeat(auto-fill, 100%);
    }
    .product-card{
        width: 90%;
        height: 500px;
    }
    .product-card .product-img{
        height: 60%;
    }
}


@media screen and (max-width: 768px){
   /* 顧客回饋 */
    .commentary-container{
        display: none;
    }
    /* 其他 */
    .address{
        width: 90%;
        margin: 0;
    }
    .faq{
        width: 90%;
    }
    .footer-siteinfo .siteinfo{
        width: 90%;
    }
    .footer-icon{
        width: 90%;
    }
}





/* 關於我們 */

@media screen and (max-width:1200px) { 

    .idea-container{
        max-width: 1200px;
    }

    
}

@media screen and (max-width:992px) { 

    .idea-container{
        max-width: 992px;
    }

    
}
@media screen and (max-width:768px) { 

    .idea-container{
        max-width: 768px;
    }

    
}