

.operate{
    display: flex;
    width: 100%;
    margin-top: 100px;
}


.form-selection{
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
}
.form-selection p{
    margin-right: 10px;
    font-size: 24px;
    line-height: 60px;
}
.selection{
    width: 50%;
    display: flex;
}
.selection select{
    width: 100px;
    height: 60px;
} 
.selection::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 10px;
    background: #a9d0ff;
    cursor:pointer;
    pointer-events:none;
    transition:0.25s all ease;
 } 
 .selection:hover::after {
    color: #ffffff;
 } 
 select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0;
    background: #a9d0ff;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#000000;
    cursor:pointer;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
 } 
.selection{
    position: relative;
    display: flex;
    line-height: 2;
    background: #a9d0ff;
    overflow: hidden;
    border-radius: .25em;
 }

 
/* 查詢 */
.inquire{
    width: 35%;
}
.enter{
    margin-top: 5px;
    height: 50px;
}
.bnquire-but{
    width: 80px;
    height: 50px;
    color: #000000;
    background-color: #a9d0ff;
    border-radius: 20px;
    margin: 0 5px;
}
.bnquire-but:hover{
    background-color: #ffafad;
}

/* 回覆數 */
.reply-box{
    display: flex;
    line-height: 60px;
    font-size: 24px;
    width: 25%;
}
.reply{
    color: #ff0000;
}

/* 顯示區表單 */
.list-cs{
    margin: 20px 0;
    text-align: center;
}
.list-cs .store-data-category{
    width: 80%;
    background-color: rgb(247, 199, 77);
}
.list{
    width: 80%;
    font-size: 20px;
    margin: auto;
}
.store-data{
    margin: auto;
    display: flex;
    font-size: 24px;
}
.store-data:nth-child(2n){
    background-color: rgb(234 234 234);
}
.store-data p{
    margin: 20px 0px; 
    text-align: center;  
}
.store-data .id{
    flex-basis:15%;
}
.store-data .name{
    flex-basis:15%;
}
.store-data .area{
    flex-basis:20%;
}
.store-data .location{
    flex-basis:25%;
}
.store-data .contact{
    flex-basis:25%;
}



/* 頁碼 */
.page-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.page-container .page-ul{
    display: flex;
}
.page-container .page-ul li{
    width: 50px;
    font-size: 24px;
    margin: 0 10px;
    padding: 10px;
    background-color: #a9d0ff;
    text-align: center;
    border: 1px solid #cfaeae;
    border-radius: 10px;
}
.show{
   background-color: #eea181 !important; 
   color: #ff0000 !important; 
}
.page-container i{
    padding: 2px 5px;
    color: #a9d0ff;
    font-size: 40px;
    border-radius:10px;
    background-color: #f4caa33d;
}
.previous_page i{
    transform: rotate(270deg)
}
.next_page i{
    transform: rotate(90deg)
}
.previous_page i:hover,
.next_page i:hover{
    background-color: #ffafad;
}
