// 首頁樣式
body {
    // overflow: hidden;
}

// 給預載器用的暫時消失下拉

// 預載動畫
// .preload-container {
//     width: 100%;
//     height: 50vw;
//     background-color: #eaf7fc;
//     z-index: 1000;
//     position: relative;

//     .schedule {
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//         width: 500px;
//         padding: 5px;
//         border-radius: 50px;

//         .percent {
//             position: relative;
//             display: block;
//             width: 0%;
//             height: 15px;
//             background-color: #03a9f4;
//             border-radius: 20px;

//             .number {
//                 position: absolute;
//                 top: -60px;
//                 right: -60px;
//                 padding: 10px 15px;
//                 color: #03a9f4;
//                 border-radius: 50px;
//             }

//         }
//     }

//     h2 {
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//         opacity: 0;
//         visibility: hidden;
//         font-size: 4em;
//         font-weight: 500;
//         text-transform: uppercase;
//         letter-spacing: 0.5em;
//         transition: 0.5s;
//         color: #fff;
//     }

// }

// .schedule,
// .number {
//     box-shadow: inset 0 5px 5px rgba(176, 176, 176, 0.75),
//         0 5px 8px rgb(0, 0, 0, 0.5),
//         0 12px 10px rgb(0, 0, 0, 0.5);
// }

// 預載動畫-----


.top-video {
    max-width: 1200px;
    margin: 80px auto 60px auto;
}

// .video-container {
//     width: 70%;

//     .video-1 {
//         width: 100%;
//         height: 615px;
//         object-fit: cover;
//         margin-right: auto;
//     }
// }




// 輪撥
.carousel-content {
    max-width: 1200px;
    max-height: 600px;
    margin: 0px auto;
    position: relative;
}

.scaling-container {
    max-height: 600px;

    img {
        object-fit: fill;
    }
}

// 圖片縮放效果
.distant {
    animation-name: distant;
    animation-duration: 4s;

    @keyframes distant {
        0% {
            transform: scale(1.3);
        }

        100% {
            transform: scale(1.0);
        }
    }
}

// 倒數條
.countdown-progress {
    width: 100%;
    height: 5px;
    background-color: #03a9f4;
    position: absolute;
    bottom: -5px;
    animation-name: countdown-progress;
    animation-duration: 7s;

    @keyframes countdown-progress {
        0% {
            width: 0%;
        }

        100% {
            width: 100%;
        }
    }
}




// 菜單介紹
// 背景塊
.introduce-box:nth-child(1) {
    background: linear-gradient(160deg, transparent 0%, transparent 45%, #f7f3ee 45%, #f7f3ee 100%);
}

.introduce-box:nth-child(2) {
    background: linear-gradient(200deg, transparent 0%, transparent 45%, #f7f3ee 45%, #f7f3ee 100%);
}

.introduce-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.introduce-box {
    padding: 40px 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 60px auto;

    .txt-box {
        width: 40%;
        padding: 0px 60px;
        text-align: center;
        font-size: 24px;
        line-height: 36px;

        h3 {
            font-size: 36px;
            margin-bottom: 40px;
        }
    }

    .img-box {
        width: 60%;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;

        >img {
            object-fit: cover;

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                margin: auto;
                width: 50%;
            }

            &:nth-child(1) {
                height: 70%;
                padding-right: 10px;
            }

            &:nth-child(2),
            &:nth-child(3) {
                height: 48%;
            }
        }
    }
}

// 反轉-圖文位子
.introduce-box:nth-child(2) {
    flex-direction: row-reverse;

    >img:nth-child(1) {
        order: 1;
        padding-right: 0px;
        padding-left: 10px;
    }
}

@include rwd_992_below {
    .introduce-box {
        margin: 10px auto;

        .txt-box {
            height: 50%;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            padding: 40px 60px;

            h3,
            p,
            a {
                width: 50%;
            }

            h3 {
                display: block;
                height: 35%;
                margin-bottom: 0px;
            }

            p {
                height: 65%;
            }

            a {
                margin-left: 30px;
                margin: auto 20px;
            }
        }
    }

    .introduce-content .introduce-box .img-box {
        width: 100%;
        height: auto;
        flex-direction: row;

        img {
            width: 33%;
            padding: 5px;
            aspect-ratio: 12 / 9;
        }
    }
}

@include rwd_768_below {
    .introduce-box {
        width: 100%;
        margin: 10px 0;

        .txt-box {
            height: auto;

            h3,
            p,
            a {
                width: 100%;
                height: auto;
            }
        }

        .img-box {
            display: none;
        }
    }
}

@include rwd_576_below {
    .introduce-box {
        .txt-box {
            padding: 40px 0;

            p {
                font-size: 20px;
            }

            a {
                margin: 0;
            }
        }
    }
}

// 介紹圖輪播
.img-box-carousel {
    display: none;
    max-width: 100%;
    max-height: 400px;

    .carousel-box {

        .item {
            width: 100%;
            aspect-ratio: 12 / 7;

            img {
                width: 100%;
                height: 100%;
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
            }
        }
    }
}

@include rwd_768_below {
    .img-box-carousel {
        display: block;
    }
}











// 商品列表
.product-content {
    max-width: 1200px;
    margin: auto;

    ul {
        justify-content: space-between;
        background-color: #f7f3ee;
        padding: 40px 20px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, 360px);
    }
}

.product-card {
    // width: 290px;
    height: 430px;
    background-color: #ffffff;
    color: #000;
    margin: 15px auto;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    grid-gap: 20px;

    .img {
        height: 60%;

        img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
        }
    }

    .txt {
        height: 40%;

        h3 {
            font-size: 24px;
            margin: 10px 15px;
            font-weight: 600;
            font-style: italic;
        }

        p {
            font-size: 16px;
            margin: 0 20px;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        .price {
            display: flex;
            justify-content: space-between;
            margin: 15px 20px 0 20px;
            line-height: 40px;

            span {
                font-size: 24px;
                color: #fe8383;
                font-style: italic;
            }

            a {
                padding: 0;
                width: 40px;
                height: 40px;
            }
        }
    }
}




// 地址
.store-map {
    background-image: url("/img/background-wall-1.gif");
    background-repeat: repeat;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.index-address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
    width: 30%;

    .a-row {
        display: flex;
        padding: 20px 0;
        border-top: 1px solid rgb(255, 205, 41);
        font-size: 20px;
        align-items: center;

        &:nth-child(5) {
            border-bottom: 1px solid rgb(255, 205, 41);
        }

        .data-name {
            text-align: center;
            width: 100%;
            font-size: 24px;
        }

        .item {
            width: 25%;
        }

        .data {
            width: 60%;
        }
    }
}


// 問答手風琴
.accordion-faq {
    background-color: #ffe8cb;
    width: 70%;
    border-radius: 30px;
    margin: 30px auto;
    padding: 30px;

    h3 {
        font-size: 40px;
        margin-bottom: 16px;
    }

    .accordion-item {
        background-color: rgb(250, 250, 247);
        border-radius: 30px;
        padding: 20px;
        margin-bottom: 20px;

        .question {
            cursor: pointer;
            font-size: 24px;
            display: flex;
            justify-content: space-between;
            font-style: italic;
            font-weight: 600;

            i {
                color: rgb(0, 0, 0);
                font-size: 30px;
            }
        }

        .answer {
            margin: 10px 0 0 40px;
            font-size: 20px;
            line-height: 30px;
            overflow: hidden;
            transition: max-height 0.7s ease-in-out;
            max-height: 0px;
        }

        .an-auto {
            max-height: 300px !important;
        }
    }
}

.down-rotate {
    transform: rotate(180deg);
}