/* 關於我們 */
.video-container {
    position: absolute;
    top: 0;
    width: 100%;
}

.video-container .video-1 {
    width: 100%;
    height: 350px;
    object-fit: cover;
    margin-right: auto;
}

.top-m {
    margin-top: 270px;
}



.people-container {
    width: 1200px;
    margin: auto;
    background-color: rgb(247, 243, 238);
    display: flex;
    justify-content: center;
}

.people-container>.control-unit {
    flex: 0 0 50%;
    padding: 50px 20px;
}

.control-unit .people-txt {
    color: #000000;
    text-align: center;
    font-size: 24px;
    letter-spacing: 3px;
    line-height: 35px;
    margin: auto;
}

.control-unit .people-img {
    height: 400px;
    padding: 30px;
}

.people-txt>h3 {
    margin: 24px 0;
    font-size: 40px;
    font-style: italic;
}


/* 主廚 團隊 */
.people-img .team-img,
.people-img .chef-img {
    background-image: url("/img/platting-4282016_1280.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

.people-img .team-img {
    background-image: url("/img/people-2561634_1280.jpg");
}

/* 概念圖標 */
.idea-container {
    justify-content: center;
    font-size: 24px;
    text-align: center;
}

/* 上面待重構 */
.idea-container {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    color: #8d2828;
    margin: auto;
}

.idea-container>.control-unit {
    flex: 0 0 25%;
    padding: 50px 20px;
}

.idea-unit {
    background-color: #ffd0b27a;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
}

.idea-unit .idea-img {
    font-size: 40px;
    margin-bottom: 15px;
}

.idea-unit:hover {
    transform: translateY(-30px);
    transition: transform 0.3s ease;
}


@media screen and (max-width:1200px) {

    .people-container,
    .idea-container {
        max-width: 100VW;
    }
}

@media screen and (max-width:768px) {

    .people-container,
    .idea-container {
        flex-wrap: wrap;
    }

    .idea-container>.control-unit {
        flex: 0 0 50%;
        padding: 20px 20px;
    }

    .people-container>.control-unit {
        flex: 0 0 100%;
        padding: 50px 20px;
    }

}




.contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-container .contact {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: rgb(247, 243, 238);
    margin: 40px 0;
    font-size: 60px;
}

.recruiting-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}

/* 地圖 */
.recruiting {
    width: 49%;
    text-align: center;
}

.recruiting .recruiting-txt {
    font-size: 24px;
    padding: 20px 0;
    background-color: bisque;
}

.recruiting-map {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(247, 243, 238);
}

.recruiting-map .address {
    line-height: 40px;
}

/* 表單 */
.form-container {
    width: 50%;
}

.contact-form {
    width: 80%;
    margin: auto;
}

.contact-form input {
    width: 272px;
    margin-top: 5px;
}

#phone,
#purpose {
    margin-left: 40px;
}

#message {
    width: 312px;
    height: 200px;
}

@media screen and (max-width:768px) {

    .form-container,
    .recruiting {
        width: 100%;
    }
}

.note {
    display: inline;
    color: #ff0000;
}

.contact-form .form-txt {
    font-weight: 800;
    font-size: 18px;
    margin: 10px 0 0 5px;
}

#form-submit-button {
    margin: 10px 0 50px 50px;
}