// 結帳頁1
.order-status {
    width: 90%;
    display: flex;
    align-items: flex-start;
    margin: 15px auto;
}

.order-details-container,
.price-details-container {
    background-color: #dbe7ff;
    margin: 10px;

    .title {
        font-size: 40px;
        font-style: italic;
        background-color: #efdcba;
        text-align: center;
        padding: 5px;
    }

    .order-list,
    .price-list {
        padding: 15px;
    }

    .item {
        display: flex;
        margin: 0px auto 10px;
        font-size: 24px;
        font-weight: 600;
    }
}

// 內容
.order-details-container {
    width: 80%;

    .item {
        height: 160px;
        flex-wrap: wrap;
        flex-direction: column;
        // box-shadow: 5px 5px 5px 5px rgba(222, 168, 218, 0.22);
        background-color: rgb(255, 255, 255);

        .img-box {
            width: 30%;
            height: 100%;
            padding: 10px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border: 1px solid rgb(173, 189, 230);
                border-radius: 10px;
            }
        }

        .txt-box,
        .m-quantity-selector-box {
            width: 70%;
            height: 50%;
        }


        .txt-box {
            display: flex;
            align-items: center;

            .name {
                width: 60%;
            }

            .qty,
            .price {
                width: 20%;
            }
        }
    }
}

// 金額
.price-details-container {
    width: 30%;

    .price-list {
        background-color: #ffffff;
        margin: 15px 5px;
    }

    .item {

        .price-name,
        .price {
            width: 50%;
        }

        .price-name {
            @include txt_line_ellipsis
        }

        .price {
            text-align: end;
        }
    }
}

.total-price {
    color: #ff0000;
    margin: 20px 10px;
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
}

.remove-btn,
.step-btn,
.revise-btn {
    background-color: #ff6000;
    border: 1px solid #ff6000;
    border-radius: 10px;
    color: #ffffff;
    padding: 10px;

    &:hover {
        color: #2600ff;
    }
}

.step-btn {
    font-size: 24px;
    font-weight: 600;
    margin: 0 10px 10px 15px;
}