.page-space .data-container {
  width: 100%;
  padding: 24px 0 60px 0;
  min-height: calc(100vh - 280px);

  .cart-container {
    display: none;
  }
}

.order-container {
  //提到共用
  .table-title {
    text-align: center;
    font-size: 24px;
    background-color: #f7f3ee;
    padding: 16px;
    margin-bottom: 16px;
  }
}

.order-container {
  font-size: 16px;
  table {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    background-color: #fff;
    th,
    td {
      padding: 8px;
      text-align: center;
      vertical-align: middle;
      font-weight: 600;
    }
    th {
      border: 1px solid #dee2e6;
    }
    td {
      border-bottom: 1px solid #dee2e6;
      font-weight: 400;
    }

    img {
      width: 100px;
      height: 100px;
    }
    .name {
      width: 40%;
    }

    .subtotal {
      color: #fe0000;
    }
    .delete {
      display: flex;
      justify-content: center;
      border: 0px;

      .delete-btn {
        display: flex;
        color: rgba(0, 18, 46, 0.7019607843);
        flex-direction: column;
        font-size: 12px;
        i {
          font-size: 24px;
          margin-bottom: 4px;
        }
      }
    }
  }
}

.cart-container table .order {
  height: 100%;
  border-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  .m-quantity-selector-box {
    display: flex;

    border: 1px solid #dee2e6;
    height: 36px;
    .reduce-btn,
    .plus-btn,
    .quantity-box {
      border-radius: 0px;
      margin: 0px;
      border: 0px;
      text-align: center;
    }
  }
}

.empty-cart td {
  padding: 24px;
  border: 1px solid #dee2e6;
  height: 30vh;
  .empty-text {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    p {
      width: 100%;
      margin-bottom: 24px;
    }
  }
}

//展開行
.order-tbody {
  .details-row,
  .details-row td {
    padding: 0;
    .detailed-tbody tr td {
      padding: 8px;
    }
  }
}

.detailed-box {
  width: 100%;
  background-color: rgb(235, 245, 255);
  padding: 16px 16px 40px 16px;

  .schedule {
    display: flex;
    background-color: #fff;
    padding: 8px;
    justify-content: space-around;
    font-size: 16px;
    color: #409eff;
    margin-bottom: 8px;
    .item {
      height: 120px;
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        margin: 4px 0;
      }
    }
  }
}

.step {
  width: 32px;
  height: 32px;
  padding: 6px;
  border: 2px solid #409eff;
  border-radius: 50%;
}

.state-gray {
  color: rgb(199.5, 201, 204);

  .step {
    border: 2px solid rgb(199.5, 201, 204);
  }
}
.state-green {
  color: #67c23a;

  .step {
    border: 2px solid #67c23a;
  }
}

.logout-btn {
  margin-top: auto !important;
}
