// RWD導覽選單按鈕
.menu-btn {
    display: none;
}

@include rwd_992_below {

    // 出現選單展示按鈕
    .menu-btn {
        display: block;
    }
}


.nav {
    display: flex;

    .item {
        padding: 0 20px;

        &:hover {
            background-color: #4d4b4b4f;
            border-left: 1px solid #ffffff;
            border-right: 1px solid #ffffff;

            a {
                color: rgb(247, 199, 77);
            }
        }
    }
}

@include rwd_992_below {
    .nav {
        position: absolute;
        flex-wrap: wrap;
        background-color: #ffffff;
        width: 60%;
        height: 350px;
        top: 80px;
        left: -1000px;
        z-index: 19;
        transition: left 0.5s ease;
        border-radius: 10px;

        .item {
            width: 100%;
            border-bottom: 2px solid rgb(183, 183, 183);
            z-index: 20;
            height: 25%;

            &:last-child {
                border-bottom: none;
            }

            &:hover {
                background-color: rgb(192, 243, 249);
            }

            a {
                color: #000;
                height: 100%;
                display: block;
                line-height: 2.5;
                font-size: 36px;
            }
        }
    }

    // 導覽展開定位
    .nav-open {
        left: 0px;
    }
}

@include rwd_768_below {

    // 選單出現在底部上方
    .nav {
        top: -350px;
    }
}

.user-box {
    display: flex;

    .icon {
        padding: 0 20px;
        background-color: #00000000;

        &:hover {
            color: rgb(247, 199, 77);
        }
    }
}

@include rwd_768_below {
    .user-box {
        width: 100%;
        justify-content: space-around;

        .icon {
            padding: 0;

            i {
                font-size: 40px;
            }
        }
    }
}